/* LOCAL SCREENS */

.bg-image-tv-app-startframe {
  background-repeat: no-repeat;
  background-image: url("https://www.apple.com/mideast/apple-tv-plus/h/images/overview/tv_app_startframe__ceq0tfdymkty_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .bg-image-tv-app-startframe {
    background-image: url("https://www.apple.com/mideast/apple-tv-plus/h/images/overview/tv_app_startframe__ceq0tfdymkty_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  .bg-image-tv-app-startframe {
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/mideast/apple-tv-plus/h/images/overview/tv_app_startframe__ceq0tfdymkty_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .bg-image-tv-app-startframe {
    background-image: url("https://www.apple.com/mideast/apple-tv-plus/h/images/overview/tv_app_startframe__ceq0tfdymkty_medium_2x.jpg");
  }
}

@media only screen and (max-width: 734px) {
  .bg-image-tv-app-startframe {
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/mideast/apple-tv-plus/h/images/overview/tv_app_startframe__ceq0tfdymkty_small.jpg");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  .bg-image-tv-app-startframe {
    background-image: url("https://www.apple.com/mideast/apple-tv-plus/h/images/overview/tv_app_startframe__ceq0tfdymkty_small_2x.jpg");
  }
}

.section-routers .image-router-airplay {
  background-image: url("https://www.apple.com/mideast/apple-tv-plus/h/images/overview/air_play__f65lmnn7chea_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .section-routers .image-router-airplay {
    background-image: url("https://www.apple.com/mideast/apple-tv-plus/h/images/overview/air_play__f65lmnn7chea_large_2x.png");
  }
}

@media only screen and (max-width: 1068px) {
  .section-routers .image-router-airplay {
    background-image: url("https://www.apple.com/mideast/apple-tv-plus/h/images/overview/air_play__f65lmnn7chea_medium.png");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .section-routers .image-router-airplay {
    background-image: url("https://www.apple.com/mideast/apple-tv-plus/h/images/overview/air_play__f65lmnn7chea_medium_2x.png");
  }
}

@media only screen and (max-width: 734px) {
  .section-routers .image-router-airplay {
    background-image: url("https://www.apple.com/mideast/apple-tv-plus/h/images/overview/air_play__f65lmnn7chea_small.png");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  .section-routers .image-router-airplay {
    background-image: url("https://www.apple.com/mideast/apple-tv-plus/h/images/overview/air_play__f65lmnn7chea_small_2x.png");
  }
}

/* END LOCAL SCREENS */
.section-routers.no-music {
  margin-top: 0;
}

.section-apple-tv-app .icons .devices {
  justify-content: space-evenly;
}

@media only screen and (max-width: 734px) {
  .section-apple-tv-app .icons .devices {
    justify-content: flex-start;
  }
}
