.pd-installments-2015 .pd-billboard-header {
    font-size: 40px;
    line-height: 1.05;
    font-weight: 500;
    letter-spacing: 0.008em;
    font-family: "SF Pro Display", "SF Pro Icons", "AOS Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-installments-2015 .pd-billboard-header:lang(ar) {
    line-height: 1.325;
    font-family: "SF Pro AR", "SF Pro Gulf", "SF Pro Display", "SF Pro Icons", "AOS Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-installments-2015 .pd-billboard-header:lang(ja) {
    line-height: 1.125;
    font-family: "SF Pro JP", "SF Pro Display", "SF Pro Icons", "AOS Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-installments-2015 .pd-billboard-header:lang(th) {
    font-size: 36px;
    line-height: 1.30556;
    font-family: "SF Pro TH", "SF Pro Display", "SF Pro Icons", "AOS Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-installments-2015 .pd-billboard-header:lang(zh) {
    line-height: 1.175; 
}

.pd-installments-2015 .pd-billboard-header:lang(ko) {
    font-family: "SF Pro KR", "SF Pro Display", "SF Pro Icons", "AOS Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-installments-2015 .pd-billboard-header:lang(zh-CN) {
    font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "AOS Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-installments-2015 .pd-billboard-header:lang(zh-HK) {
    font-family: "SF Pro HK", "SF Pro Display", "SF Pro Icons", "AOS Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-installments-2015 .pd-billboard-header:lang(zh-MO) {
    font-family: "SF Pro HK", "SF Pro TC", "SF Pro Display", "SF Pro Icons", "AOS Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-installments-2015 .pd-billboard-header:lang(zh-TW) {
    font-family: "SF Pro TC", "SF Pro Display", "SF Pro Icons", "AOS Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-installments-2015 .pd-billboard-tagline {
    font-size: 17px;
    line-height: 1.52947;
    font-weight: 400;
    letter-spacing: -0.021em;
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}


.pd-installments-2015 .pd-billboard-tagline:lang(ar) {
    letter-spacing: 0em;
    font-family: "SF Pro AR", "SF Pro Gulf", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-installments-2015 .pd-billboard-tagline:lang(ja) {
    letter-spacing: 0em;
    font-family: "SF Pro JP", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-installments-2015 .pd-billboard-tagline:lang(ko) {
    letter-spacing: 0em;
    font-family: "SF Pro KR", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-installments-2015 .pd-billboard-tagline:lang(th) {
    letter-spacing: 0em;
    font-family: "SF Pro TH", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}


.pd-installments-2015 .pd-billboard-tagline:lang(zh) {
    letter-spacing: 0em; 
}

.pd-installments-2015 .pd-billboard-tagline:lang(zh-CN) {
    font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "AOS Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-installments-2015 .pd-billboard-tagline:lang(zh-HK) {
    font-family: "SF Pro HK", "SF Pro Text", "SF Pro Icons", "AOS Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-installments-2015 .pd-billboard-tagline:lang(zh-MO) {
    font-family: "SF Pro HK", "SF Pro TC", "SF Pro Text", "SF Pro Icons", "AOS Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-installments-2015 .pd-billboard-tagline:lang(zh-TW) {
    font-family: "SF Pro TC", "SF Pro Text", "SF Pro Icons", "AOS Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-installments-tr .pd-billboard-table,
.pd-installments-ae .pd-billboard-table {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: -0.01em;
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-installments-tr .pd-billboard-table:lang(ar),
.pd-installments-ae .pd-billboard-table:lang(ar) {
    letter-spacing: 0em;
    font-family: "SF Pro AR", "SF Pro Gulf", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-installments-tr .pd-billboard-table:lang(ja),
.pd-installments-ae .pd-billboard-table:lang(ja) {
    letter-spacing: 0em;
    font-family: "SF Pro JP", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-installments-tr .pd-billboard-table:lang(ko),
.pd-installments-ae .pd-billboard-table:lang(ko) {
    letter-spacing: 0em;
    font-family: "SF Pro KR", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-installments-tr .pd-billboard-table:lang(th),
.pd-installments-ae .pd-billboard-table:lang(th) {
    letter-spacing: 0em;
    font-family: "SF Pro TH", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}


.pd-installments-tr .pd-billboard-table:lang(zh),
.pd-installments-ae .pd-billboard-table:lang(zh) {
    letter-spacing: 0em; 
}


.pd-installments-tr .pd-billboard-table:lang(zh-CN),
.pd-installments-ae .pd-billboard-table:lang(zh-CN) {
    font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "AOS Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-installments-tr .pd-billboard-table:lang(zh-HK),
.pd-installments-ae .pd-billboard-table:lang(zh-HK) {
    font-family: "SF Pro HK", "SF Pro Text", "SF Pro Icons", "AOS Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}


.pd-installments-tr .pd-billboard-table:lang(zh-MO),
.pd-installments-ae .pd-billboard-table:lang(zh-MO) {
    font-family: "SF Pro HK", "SF Pro TC", "SF Pro Text", "SF Pro Icons", "AOS Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}


.pd-installments-tr .pd-billboard-table:lang(zh-TW),
.pd-installments-ae .pd-billboard-table:lang(zh-TW) {
    font-family: "SF Pro TC", "SF Pro Text", "SF Pro Icons", "AOS Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-billboard-footnote,
.pd-installments-2015 .pd-billboard-footnote {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: -0.01em;
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #666;
    padding-top: 19px; 
}


.pd-billboard-footnote:lang(ar),
.pd-installments-2015 .pd-billboard-footnote:lang(ar) {
    letter-spacing: 0em;
    font-family: "SF Pro AR", "SF Pro Gulf", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-billboard-footnote:lang(ja),
.pd-installments-2015 .pd-billboard-footnote:lang(ja) {
    letter-spacing: 0em;
    font-family: "SF Pro JP", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-billboard-footnote:lang(ko),
.pd-installments-2015 .pd-billboard-footnote:lang(ko) {
    letter-spacing: 0em;
    font-family: "SF Pro KR", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Apple Gothic", "HY Gulim", "MalgunGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-billboard-footnote:lang(th),
.pd-installments-2015 .pd-billboard-footnote:lang(th) {
    letter-spacing: 0em;
    font-family: "SF Pro TH", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-billboard-footnote:lang(zh),
.pd-installments-2015 .pd-billboard-footnote:lang(zh) {
    letter-spacing: 0em; 
}

.pd-billboard-footnote:lang(zh-CN),
.pd-installments-2015 .pd-billboard-footnote:lang(zh-CN) {
    font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "AOS Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-billboard-footnote:lang(zh-HK),
.pd-installments-2015 .pd-billboard-footnote:lang(zh-HK) {
    font-family: "SF Pro HK", "SF Pro Text", "SF Pro Icons", "AOS Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-billboard-footnote:lang(zh-MO),
.pd-installments-2015 .pd-billboard-footnote:lang(zh-MO) {
    font-family: "SF Pro HK", "SF Pro TC", "SF Pro Text", "SF Pro Icons", "AOS Icons", "PingFang HK", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-billboard-footnote:lang(zh-TW),
.pd-installments-2015 .pd-billboard-footnote:lang(zh-TW) {
    font-family: "SF Pro TC", "SF Pro Text", "SF Pro Icons", "AOS Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

.pd-installments-ae .pd-billboard-footnote {
    padding-top: 0; 
}
