.section-portrait .portrait-intro .img-portrait-hero {
  background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/en/portrait_hero__go2w7le2rvmi_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .section-portrait .portrait-intro .img-portrait-hero {
    background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/en/portrait_hero__go2w7le2rvmi_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  .section-portrait .portrait-intro .img-portrait-hero {
    background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/en/portrait_hero__go2w7le2rvmi_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .section-portrait .portrait-intro .img-portrait-hero {
    background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/en/portrait_hero__go2w7le2rvmi_medium_2x.jpg");
  }
}

@media only screen and (max-width: 734px) {
  .section-portrait .portrait-intro .img-portrait-hero {
    background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/en/portrait_hero__go2w7le2rvmi_small.jpg");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  .section-portrait .portrait-intro .img-portrait-hero {
    background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/en/portrait_hero__go2w7le2rvmi_small_2x.jpg");
  }
}

.typography-cta {
  font-size: 12px;
  line-height: 1.14286;
  font-weight: 600;
  letter-spacing: -0.003em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  top: -20px;
  left: -30px;
  position: relative;
  z-index: 2;
  text-align: center;
}

@media screen and (max-width: 735px) {
  .typography-cta {
    left: -12px;
  }
}

.typography-cta a {
  color: #86868b;
}

.typography-cta a:hover .icon {
  text-decoration: none;
}

.section-ios-13 .image-ios-13 {
  background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/en/ios13__bwsrc6p1ka4i_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .section-ios-13 .image-ios-13 {
    background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/en/ios13__bwsrc6p1ka4i_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  .section-ios-13 .image-ios-13 {
    background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/en/ios13__bwsrc6p1ka4i_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .section-ios-13 .image-ios-13 {
    background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/en/ios13__bwsrc6p1ka4i_medium_2x.jpg");
  }
}

@media only screen and (max-width: 734px) {
  .section-ios-13 .image-ios-13 {
    background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/en/ios13__bwsrc6p1ka4i_small.jpg");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  .section-ios-13 .image-ios-13 {
    background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/en/ios13__bwsrc6p1ka4i_small_2x.jpg");
  }
}

.no-facetime .section-ios-13 .image-ios-13 {
  background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/en/ios13_no_facetime__bwsrc6p1ka4i_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .no-facetime .section-ios-13 .image-ios-13 {
    background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/en/ios13_no_facetime__bwsrc6p1ka4i_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  .no-facetime .section-ios-13 .image-ios-13 {
    background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/en/ios13_no_facetime__bwsrc6p1ka4i_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .no-facetime .section-ios-13 .image-ios-13 {
    background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/en/ios13_no_facetime__bwsrc6p1ka4i_medium_2x.jpg");
  }
}

@media only screen and (max-width: 734px) {
  .no-facetime .section-ios-13 .image-ios-13 {
    background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/en/ios13_no_facetime__bwsrc6p1ka4i_small.jpg");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  .no-facetime .section-ios-13 .image-ios-13 {
    background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/en/ios13_no_facetime__bwsrc6p1ka4i_small_2x.jpg");
  }
}

.no-tv .section-ios-13 .image-ios-13 {
  background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/en/ios13_no_tv__bwsrc6p1ka4i_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .no-tv .section-ios-13 .image-ios-13 {
    background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/en/ios13_no_tv__bwsrc6p1ka4i_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  .no-tv .section-ios-13 .image-ios-13 {
    background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/en/ios13_no_tv__bwsrc6p1ka4i_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .no-tv .section-ios-13 .image-ios-13 {
    background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/en/ios13_no_tv__bwsrc6p1ka4i_medium_2x.jpg");
  }
}

@media only screen and (max-width: 734px) {
  .no-tv .section-ios-13 .image-ios-13 {
    background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/en/ios13_no_tv__bwsrc6p1ka4i_small.jpg");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  .no-tv .section-ios-13 .image-ios-13 {
    background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/en/ios13_no_tv__bwsrc6p1ka4i_small_2x.jpg");
  }
}

.no-tv .section-battery .image-battery {
  background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/battery_no_tv__dkv8umyqg0a6_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .no-tv .section-battery .image-battery {
    background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/battery_no_tv__dkv8umyqg0a6_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  .no-tv .section-battery .image-battery {
    background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/battery_no_tv__dkv8umyqg0a6_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .no-tv .section-battery .image-battery {
    background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/battery_no_tv__dkv8umyqg0a6_medium_2x.jpg");
  }
}

@media only screen and (max-width: 734px) {
  .no-tv .section-battery .image-battery {
    background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/battery_no_tv__dkv8umyqg0a6_small.jpg");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  .no-tv .section-battery .image-battery {
    background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/battery_no_tv__dkv8umyqg0a6_small_2x.jpg");
  }
}

.section-other-features .image-icon-wifi-only {
  background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/icon_lte__cny5971gdeqa_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .section-other-features .image-icon-wifi-only {
    background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/icon_lte__cny5971gdeqa_large_2x.jpg");
  }
}

@media only screen and (max-width: 734px) {
  .section-other-features .image-icon-wifi-only {
    background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/icon_lte__cny5971gdeqa_small.jpg");
  }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 734px) and (min-resolution: 144dpi) {
  .section-other-features .image-icon-wifi-only {
    background-image: url("https://www.apple.com/mideast/iphone-se/b/images/overview/icon_lte__cny5971gdeqa_small_2x.jpg");
  }
}
