#aos_header #masthead address.phone {
    margin: 0px;
    background: url(https://store.storeimages.cdn-apple.com/4668/store.apple.com/shop/Catalog/ae/Images/layout/mh-consumer-tel.png) 0 0% no-repeat;
    height: 11px;
    width: 125px;
}