/*Local fix start*/
.section-ipados .icloud.alt .promo-image {
  left: auto;
  margin-left: 0;
  margin-top: 63px;
}

.inline-block {
  display: inline-block;
}
@media only screen and (max-width: 735px) {
  .section-ipados .icloud.alt .promo-image {
    left: 50%;
    margin-left: -200.5px;
  }
}

.section-get-more .education.fp-tile-2.alt {
  width: 87.5%;
}

@media only screen and (max-width: 735px) {
  .section-get-more .education.fp-tile-2.alt {
    width: 88%;
  }
}

@media only screen and (max-width: 735px) {
  .section-get-more .education.fp-tile-2.alt {
    width: 100%;
  }
}

.section-essentials .banner-container {
  width: 100%;
}

.section-ios.promo-section .banner-container {
  width: 100%;
  flex: 1;
}
.section-ipad-pro .avail {
  margin-top: 414px;
}

.section-ipad-pro .avail.extra-padding {
  margin-top: 455px;
}

@media only screen and (max-width: 1068px) {
  .section-ipad-pro .avail {
    margin-top: 180px;
  }
}
@media only screen and (max-width: 735px) {
  .section-ipad-pro .avail {
    margin-top: 19px;
  }
}

@media only screen and (max-width: 1068px) {
  .section-ipad-pro .avail.extra-padding {
    margin-top: 223px;
  }
}
@media only screen and (max-width: 735px) {
  .section-ipad-pro .avail.extra-padding {
    margin-top: 19px;
  }
}

@media only screen and (max-width: 1068px) and (min-width: 735px) {
  .section-ipad-mini .typography-section-headline {
    margin-top: 100px;
  }
}

/*Local fix end*/
.section-get-more .education.alt {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/alt/education_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .section-get-more .education.alt {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/alt/education_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  .section-get-more .education.alt {
    width: 100%;
    height: 400px;
    background-size: 736px 400px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/alt/education_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .section-get-more .education.alt {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/alt/education_medium_2x.jpg");
  }
}

@media only screen and (max-width: 735px) {
  .section-get-more .education.alt {
    width: 100%;
    height: 455px;
    background-size: 736px 455px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/alt/education_small.jpg");
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .section-get-more .education.alt {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/alt/education_small_2x.jpg");
  }
}

.section-ipados .applepay .promo-image {
  background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/apple_pay__bib6i12dqqky_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .section-ipados .applepay .promo-image {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/apple_pay__bib6i12dqqky_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  .section-ipados .applepay .promo-image {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/apple_pay__bib6i12dqqky_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .section-ipados .applepay .promo-image {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/apple_pay__bib6i12dqqky_medium_2x.jpg");
  }
}

@media only screen and (max-width: 735px) {
  .section-ipados .applepay .promo-image {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/apple_pay__bib6i12dqqky_small.jpg");
    width: 375px;
    height: 236px;
    background-size: 375px 236px;
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .section-ipados .applepay .promo-image {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/apple_pay__bib6i12dqqky_small_2x.jpg");
  }
}

.section-ipados .applepay .promo-image.t2 {
  background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/apple_pay_t2__bib6i12dqqky_large.jpg");
  width: 493px;
  height: 311px;
  background-size: 493px 311px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .section-ipados .applepay .promo-image.t2 {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/apple_pay_t2__bib6i12dqqky_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  .section-ipados .applepay .promo-image.t2 {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/apple_pay_t2__bib6i12dqqky_medium.jpg");
    width: 315px;
    height: 200px;
    background-size: 315px 200px;
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .section-ipados .applepay .promo-image.t2 {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/apple_pay_t2__bib6i12dqqky_medium_2x.jpg");
  }
}

@media only screen and (max-width: 735px) {
  .section-ipados .applepay .promo-image.t2 {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/apple_pay_t2__bib6i12dqqky_small.jpg");
    width: 375px;
    height: 236px;
    background-size: 375px 236px;
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .section-ipados .applepay .promo-image.t2 {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/apple_pay_t2__bib6i12dqqky_small_2x.jpg");
  }
}

.section-ipados .icloud .promo-image {
  background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/icloud__dkgx54q92hg2_large.jpg");
  width: 535px;
  height: 277px;
  background-size: 535px 277px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .section-ipados .icloud .promo-image {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/icloud__dkgx54q92hg2_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  .section-ipados .icloud .promo-image {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/icloud__dkgx54q92hg2_medium.jpg");
    width: 420px;
    height: 217.5px;
    background-size: 420px 217.5px;
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .section-ipados .icloud .promo-image {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/icloud__dkgx54q92hg2_medium_2x.jpg");
  }
}

@media only screen and (max-width: 735px) {
  .section-ipados .icloud .promo-image {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/icloud__dkgx54q92hg2_small.jpg");
    width: 425px;
    height: 220px;
    background-size: 425px 220px;
    margin-left: -243px;
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .section-ipados .icloud .promo-image {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/icloud__dkgx54q92hg2_small_2x.jpg");
  }
}

/* Screens Alt */
.section-ipad-air .image-hero-ipad-air {
  background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_air__de99jh4astea_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .section-ipad-air .image-hero-ipad-air {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_air__de99jh4astea_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  .section-ipad-air .image-hero-ipad-air {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_air__de99jh4astea_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .section-ipad-air .image-hero-ipad-air {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_air__de99jh4astea_medium_2x.jpg");
  }
}

@media only screen and (max-width: 735px) {
  .section-ipad-air .image-hero-ipad-air {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_air__de99jh4astea_small.jpg");
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .section-ipad-air .image-hero-ipad-air {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_air__de99jh4astea_small_2x.jpg");
  }
}

.section-ipad-10-2 .image-hero-ipad-10-2 {
  background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad__bj8z4pfznqnm_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .section-ipad-10-2 .image-hero-ipad-10-2 {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad__bj8z4pfznqnm_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  .section-ipad-10-2 .image-hero-ipad-10-2 {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad__bj8z4pfznqnm_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .section-ipad-10-2 .image-hero-ipad-10-2 {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad__bj8z4pfznqnm_medium_2x.jpg");
  }
}

@media only screen and (max-width: 735px) {
  .section-ipad-10-2 .image-hero-ipad-10-2 {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad__bj8z4pfznqnm_small.jpg");
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .section-ipad-10-2 .image-hero-ipad-10-2 {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad__bj8z4pfznqnm_small_2x.jpg");
  }
}

.services-subsection .apple-arcade.tv-update.apple-arcade-alt {
  width: 1380px;
  height: 500px;
  background-size: 1380px 500px;
  background-repeat: no-repeat;
  background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/overview/apple_arcade_tile__cm3m665tnxle_large.jpg");
  padding-bottom: 0;
  width: 87.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .services-subsection .apple-arcade.tv-update.apple-arcade-alt {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/overview/apple_arcade_tile__cm3m665tnxle_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  .services-subsection .apple-arcade.tv-update.apple-arcade-alt {
    width: 702px;
    height: 400px;
    background-size: 702px 400px;
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/overview/apple_arcade_tile__cm3m665tnxle_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .services-subsection .apple-arcade.tv-update.apple-arcade-alt {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/overview/apple_arcade_tile__cm3m665tnxle_medium_2x.jpg");
  }
}

@media only screen and (max-width: 735px) {
  .services-subsection .apple-arcade.tv-update.apple-arcade-alt {
    width: 736px;
    height: 490px;
    background-size: 736px 490px;
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/overview/apple_arcade_tile__cm3m665tnxle_small.jpg");
    display: block;
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .services-subsection .apple-arcade.tv-update.apple-arcade-alt {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/overview/apple_arcade_tile__cm3m665tnxle_small_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  .services-subsection .apple-arcade.tv-update.apple-arcade-alt {
    width: 87.84082%;
  }
}

@media only screen and (max-width: 735px) {
  .services-subsection .apple-arcade.tv-update.apple-arcade-alt {
    width: 100%;
  }
}

/* END ARCADE ALT TILE */
.section-compare .banner-container .banner-compare.margin-bottom {
  margin-bottom: 2.08333%;
}

@media only screen and (max-width: 1068px) {
  .section-compare .banner-container .banner-compare.margin-bottom {
    margin-bottom: 2.34082%;
  }
}

@media only screen and (max-width: 735px) {
  .section-compare .banner-container .banner-compare.margin-bottom {
    margin-bottom: 15px;
  }
}

.services-subsection .apple-arcade {
  padding-bottom: 370px;
}

@media only screen and (max-width: 1068px) {
  .services-subsection .apple-arcade {
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 735px) {
  .services-subsection .apple-arcade {
    padding-bottom: 42px;
  }
}

.services-subsection .apple-tv-plus {
  margin-bottom: 0;
}

@media only screen and (max-width: 735px) {
  .promo-section .promo-tile {
    margin-bottom: 15px;
  }
}

.section-ipados .ipados .promo-image-wrapper .promo-image.no-facetime {
  width: 596px;
  height: 475px;
  background-size: 596px 475px;
  background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_os_banner__bhlob0bn3rg2_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .section-ipados .ipados .promo-image-wrapper .promo-image.no-facetime {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_os_banner__bhlob0bn3rg2_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  .section-ipados .ipados .promo-image-wrapper .promo-image.no-facetime {
    width: 417px;
    height: 332px;
    background-size: 417px 332px;
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_os_banner__bhlob0bn3rg2_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .section-ipados .ipados .promo-image-wrapper .promo-image.no-facetime {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_os_banner__bhlob0bn3rg2_medium_2x.jpg");
  }
}

@media only screen and (max-width: 735px) {
  .section-ipados .ipados .promo-image-wrapper .promo-image.no-facetime {
    width: 351px;
    height: 279px;
    background-size: 351px 279px;
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_os_banner__bhlob0bn3rg2_small.jpg");
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .section-ipados .ipados .promo-image-wrapper .promo-image.no-facetime {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_os_banner__bhlob0bn3rg2_small_2x.jpg");
  }
}

.section-ipados .ipados .promo-image-wrapper .promo-image.no-tv {
  width: 596px;
  height: 475px;
  background-size: 596px 475px;
  background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_os_banner_no-tv__bhlob0bn3rg2_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .section-ipados .ipados .promo-image-wrapper .promo-image.no-tv {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_os_banner_no-tv__bhlob0bn3rg2_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  .section-ipados .ipados .promo-image-wrapper .promo-image.no-tv {
    width: 417px;
    height: 332px;
    background-size: 417px 332px;
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_os_banner_no-tv__bhlob0bn3rg2_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .section-ipados .ipados .promo-image-wrapper .promo-image.no-tv {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_os_banner_no-tv__bhlob0bn3rg2_medium_2x.jpg");
  }
}

@media only screen and (max-width: 735px) {
  .section-ipados .ipados .promo-image-wrapper .promo-image.no-tv {
    width: 351px;
    height: 279px;
    background-size: 351px 279px;
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_os_banner_no-tv__bhlob0bn3rg2_small.jpg");
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .section-ipados .ipados .promo-image-wrapper .promo-image.no-tv {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_os_banner_no-tv__bhlob0bn3rg2_small_2x.jpg");
  }
}

.section-ipados .ipados .promo-image-wrapper .promo-image.facetime {
  width: 596px;
  height: 475px;
  background-size: 596px 475px;
  background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_os_banner_facetime__bhlob0bn3rg2_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .section-ipados .ipados .promo-image-wrapper .promo-image.facetime {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_os_banner_facetime__bhlob0bn3rg2_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  .section-ipados .ipados .promo-image-wrapper .promo-image.facetime {
    width: 417px;
    height: 332px;
    background-size: 417px 332px;
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_os_banner_facetime__bhlob0bn3rg2_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .section-ipados .ipados .promo-image-wrapper .promo-image.facetime {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_os_banner_facetime__bhlob0bn3rg2_medium_2x.jpg");
  }
}

@media only screen and (max-width: 735px) {
  .section-ipados .ipados .promo-image-wrapper .promo-image.facetime {
    width: 351px;
    height: 279px;
    background-size: 351px 279px;
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_os_banner_facetime__bhlob0bn3rg2_small.jpg");
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .section-ipados .ipados .promo-image-wrapper .promo-image.facetime {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_os_banner_facetime__bhlob0bn3rg2_small_2x.jpg");
  }
}

.section-buystrip .image-icon-card {
  background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/icon_financing__d22nz1xp0tyu_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .section-buystrip .image-icon-card {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/icon_financing__d22nz1xp0tyu_large_2x.png");
  }
}

.services-subsection .apple-tv-plus,
.services-subsection .apple-arcade {
  height: 600px;
}
@media only screen and (max-width: 1068px) {
  .services-subsection .apple-tv-plus,
  .services-subsection .apple-arcade {
    height: 450px;
  }
}
@media only screen and (max-width: 735px) {
  .services-subsection .apple-tv-plus,
  .services-subsection .apple-arcade {
    height: 490px;
  }
}

.services-subsection .apple-arcade {
  padding-bottom: 0px;
}

@media only screen and (max-width: 735px) {
  .services-subsection .apple-tv-plus,
  .services-subsection .apple-arcade {
    padding-bottom: 40px;
  }
}

.banner-promo.app-store {
  text-align: left;
}

.section-ipados .app-store .promo-copy {
  -webkit-box-flex: 50%;
  -ms-flex: 50%;
  flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media only screen and (max-width: 735px) {
  .section-ipados .app-store .promo-copy {
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    margin-bottom: 30px;
  }
}

.promo-section .banner-promo.app-store .promo-copy {
  padding-left: calc(2 * 6.42857%);
}

@media only screen and (max-width: 1068px) {
  .promo-section .banner-promo.app-store .promo-copy {
    padding-left: calc(2 * 3.74532%);
  }
}

@media only screen and (max-width: 735px) {
  .promo-section .banner-promo.app-store .promo-copy {
    padding-left: 6.25%;
  }
}

@media only screen and (max-width: 735px) {
  .banner-promo.app-store {
    text-align: center;
    padding-bottom: 62px;
  }
}

.promo-section .banner-promo .promo-image.image-app-store {
  width: 596px;
  height: 475px;
  background-size: 596px 475px;
  background-repeat: no-repeat;
  background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/app-store/app_store_large.jpg");
  position: relative;
  left: 50%;
  margin-left: -348px;
  position: relative;
  margin-top: 62px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .promo-section .banner-promo .promo-image.image-app-store {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/app-store/app_store_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  .promo-section .banner-promo .promo-image.image-app-store {
    width: 417px;
    height: 332px;
    background-size: 417px 332px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/app-store/app_store_medium.jpg");
    margin-left: -238px;
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .promo-section .banner-promo .promo-image.image-app-store {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/app-store/app_store_medium_2x.jpg");
  }
}

@media only screen and (max-width: 735px) {
  .promo-section .banner-promo .promo-image.image-app-store {
    width: 368px;
    height: 266px;
    background-size: 368px 266px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/app-store/app_store_small.jpg");
    margin-left: -164px;
    margin-top: 18px;
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .promo-section .banner-promo .promo-image.image-app-store {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/app-store/app_store_small_2x.jpg");
  }
}

.image-app-store-icon {
  margin-bottom: 0.8em;
  width: 54px;
  height: 54px;
  background-size: 54px 54px;
  background-repeat: no-repeat;
  background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/app-store/icon_apple_arcade__r6w5tlvtr32a_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .image-app-store-icon {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/app-store/icon_apple_arcade__r6w5tlvtr32a_large_2x.png");
  }
}

@media only screen and (max-width: 735px) {
  .image-app-store-icon {
    margin: 0 auto 0.8em;
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/app-store/icon_apple_arcade__r6w5tlvtr32a_small.png");
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .image-app-store-icon {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/app-store/icon_apple_arcade__r6w5tlvtr32a_small_2x.png");
  }
}

.promo-section .banner-promo.app-store .promo-copy {
  text-align: center;
  padding: 0;
}

@media only screen and (max-width: 735px) {
  .promo-section .banner-promo.app-store .promo-copy {
    padding-top: 40px;
  }
}

.promo-section .banner-promo.app-store .image-app-store-icon {
  margin: 0 auto 0.8em;
}

@media only screen and (max-width: 1068px) {
  .promo-section .banner-promo.app-store .image-app-store-icon {
    width: 45px;
    height: 45px;
    background-size: 45px 45px;
  }
}

@media only screen and (max-width: 1068px) {
  .promo-section .banner-promo.app-store .promo-copy-wrapper {
    margin-left: -56px;
  }
}

@media only screen and (max-width: 735px) {
  .promo-section .banner-promo.app-store .promo-copy-wrapper {
    margin: 0 auto;
  }
}

.promo-section .banner-container .banner-promo.ipados.reverse-aligned {
  flex-direction: row-reverse;
}

@media only screen and (max-width: 1068px) {
  .section-ipados .ipados.reverse-aligned .promo-copy-wrapper {
    margin-right: -56px;
    margin-left: 0;
  }
}
@media only screen and (max-width: 735px) {
  .section-ipados .ipados.reverse-aligned .promo-copy-wrapper {
    margin-right: 0;
  }
}

.section-ipados .ipados.reverse-aligned .promo-image-wrapper .promo-image {
  left: auto;
  margin-left: auto;
  right: 50%;
  margin-right: -414px;
}
@media only screen and (max-width: 1068px) {
  .section-ipados .ipados.reverse-aligned .promo-image-wrapper .promo-image {
    margin-right: -288px;
  }
}
@media only screen and (max-width: 735px) {
  .section-ipados .ipados.reverse-aligned .promo-image-wrapper .promo-image {
    margin-right: -188px;
  }
}

@media only screen and (max-width: 735px) {
  .section-ipados .ipados .promo-image-wrapper .promo-image {
    margin-right: -196.5px;
  }
}

@media only screen and (max-width: 735px) {
  .section-ipados .ipados .promo-copy-wrapper {
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (max-width: 1068px) {
  .section-get-more .today {
    background-position-x: -13px;
  }
}

@media only screen and (max-width: 735px) {
  .section-get-more .today {
    background-position-x: center;
  }
}

.section-get-more .today .promo-copy-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
}

@media only screen and (max-width: 1068px) {
  .section-get-more .today .promo-copy-wrapper {
    max-width: 100%;
  }
}

@media only screen and (max-width: 735px) {
  .section-get-more .today .promo-copy-wrapper {
    max-width: 21em;
  }
}

@media only screen and (max-width: 1068px) {
  .section-get-more .today .promo-copy {
    padding-right: 6.25%;
  }
}

@media only screen and (max-width: 735px) {
  .section-get-more .today .promo-copy {
    padding-bottom: 40px;
  }
}

.section-get-more .today p,
.section-get-more .today a {
  color: #000;
}

.music span.icon.icon-after.icon-external {
  color: #fff;
}

.banner-airpods.airpods-pro {
  margin-top: 0;
}

@media only screen and (max-width: 735px) {
  .promo-section .banner-promo {
    height: 520px;
  }

  .promo-section .banner-promo.airpods-pro {
    height: 490px;
  }

  .airpods-pro.banner-promo .promo-image {
    margin-top: 23px;
  }
}

.services-subsection .music {
  background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/overview/apple_music__4nt9r3t3wo2i_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .services-subsection .music {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/overview/apple_music__4nt9r3t3wo2i_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  .services-subsection .music {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/overview/apple_music__4nt9r3t3wo2i_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .services-subsection .music {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/overview/apple_music__4nt9r3t3wo2i_medium_2x.jpg");
  }
}

@media only screen and (max-width: 735px) {
  .services-subsection .music {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/overview/apple_music__4nt9r3t3wo2i_small.jpg");
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .services-subsection .music {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/overview/apple_music__4nt9r3t3wo2i_small_2x.jpg");
  }
}

.section-essentials .airpods-pro {
  background-color: #000;
  color: #fff;
}

.section-essentials .airpods-pro a {
  color: #66bbff;
}

.section-essentials .airpods-pro .promo-headline {
  color: #fff;
}

.section-essentials .airpods-pro .promo-image {
  width: 466px;
  height: 312px;
  background-size: 466px 312px;
  background-repeat: no-repeat;
  background-image: url("https://www.apple.com/v/ipad/home/au/images/overview/airpods_pro__fjh2otdkct6y_large.jpg");
  position: relative;
  left: 50%;
  margin-left: -233px;
  margin-top: 80px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .section-essentials .airpods-pro .promo-image {
    background-image: url("https://www.apple.com/v/ipad/home/au/images/overview/airpods_pro__fjh2otdkct6y_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  .section-essentials .airpods-pro .promo-image {
    width: 274px;
    height: 299px;
    background-size: 274px 299px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/ipad/home/au/images/overview/airpods_pro__fjh2otdkct6y_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .section-essentials .airpods-pro .promo-image {
    background-image: url("https://www.apple.com/v/ipad/home/au/images/overview/airpods_pro__fjh2otdkct6y_medium_2x.jpg");
  }
}

@media only screen and (max-width: 735px) {
  .section-essentials .airpods-pro .promo-image {
    width: 247px;
    height: 269px;
    background-size: 247px 269px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/ipad/home/au/images/overview/airpods_pro__fjh2otdkct6y_small.jpg");
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .section-essentials .airpods-pro .promo-image {
    background-image: url("https://www.apple.com/v/ipad/home/au/images/overview/airpods_pro__fjh2otdkct6y_small_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  .section-essentials .airpods-pro .promo-image {
    left: 50%;
    margin-left: -137px;
  }
}

@media only screen and (max-width: 735px) {
  .section-essentials .airpods-pro .promo-image {
    left: 50%;
    margin-left: -123.5px;
  }
}

@media only screen and (max-width: 735px) {
  .section-essentials .product-red {
    height: 100%;
  }
}

.section-ipados .whyipad .promo-image {
  background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/why_ipad__dboaibp4lje6_large.jpg");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .section-ipados .whyipad .promo-image {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/why_ipad__dboaibp4lje6_large_2x.jpg");
  }
}
@media only screen and (max-width: 1068px) {
  .section-ipados .whyipad .promo-image {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/why_ipad__dboaibp4lje6_medium.jpg");
  }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .section-ipados .whyipad .promo-image {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/why_ipad__dboaibp4lje6_medium_2x.jpg");
  }
}
@media only screen and (max-width: 735px) {
  .section-ipados .whyipad .promo-image {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/why_ipad__dboaibp4lje6_small.jpg");
  }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .section-ipados .whyipad .promo-image {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/why_ipad__dboaibp4lje6_small_2x.jpg");
  }
}

.section-ipad-air .lockup-wrapper {
  margin-top: -20px;
}
@media only screen and (max-width: 1068px) {
  .section-ipad-air .lockup-wrapper {
    margin-top: -40px;
  }
}
@media only screen and (max-width: 735px) {
  .section-ipad-air .lockup-wrapper {
    margin-top: 0;
  }
}

.section-ipad-pro {
  background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_pro_hero__c60u09fxbrsm_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .section-ipad-pro {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_pro_hero__c60u09fxbrsm_large_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  .section-ipad-pro {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_pro_hero__c60u09fxbrsm_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .section-ipad-pro {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_pro_hero__c60u09fxbrsm_medium_2x.jpg");
  }
}

@media only screen and (max-width: 735px) {
  .section-ipad-pro {
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_pro_hero__c60u09fxbrsm_small.jpg");
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .section-ipad-pro {
    background-image: url("https://www.apple.com/mideast/ipad/home/ay/images/en/ipad_pro_hero__c60u09fxbrsm_small_2x.jpg");
  }
}
