.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-music-apple-music {
    width: 1262px;
    height: 580px;
    background-size: 1262px 580px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/in/home/images/promos/apple-music/apple_music_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-music-apple-music {
        background-image: url("https://www.apple.com/in/home/images/promos/apple-music/apple_music_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-music-apple-music {
        width: 516px;
        height: 490px;
        background-size: 516px 490px;
        background-repeat: no-repeat;
        background-image: url("https://www.apple.com/in/home/images/promos/apple-music/apple_music_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-music-apple-music {
        background-image: url("https://www.apple.com/in/home/images/promos/apple-music/apple_music_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-music-apple-music {
        width: 736px;
        height: 548px;
        background-size: 736px 548px;
        background-repeat: no-repeat;
        background-image: url("https://www.apple.com/in/home/images/promos/apple-music/apple_music_small.jpg")
    }
}

.logo-image-music {
    width: 127px;
    height: 31px;
    background-size: 127px 31px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/in/home/images/logos/music_large.png");
    background-position: center
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .logo-image-music {
        background-image: url("https://www.apple.com/in/home/images/logos/music_large_2x.png")
    }
}

@media only screen and (max-width: 1068px) {
    .logo-image-music {
        width: 103px;
        height: 25px;
        background-size: 103px 25px;
        background-repeat: no-repeat;
        background-image: url("https://www.apple.com/in/home/images/logos/music_medium.png")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .logo-image-music {
        background-image: url("https://www.apple.com/in/home/images/logos/music_medium_2x.png")
    }
}

@media only screen and (max-width: 735px) {
    .logo-image-music {
        width: 103px;
        height: 25px;
        background-size: 103px 25px;
        background-repeat: no-repeat;
        background-image: url("https://www.apple.com/in/home/images/logos/music_small.png")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .logo-image-music {
        background-image: url("https://www.apple.com/in/home/images/logos/music_small_2x.png")
    }
}

.main [data-module-template="promos"] [data-unit-id="apple-music"] .logo-image-music-icon {
    width: 37px;
    height: 37px;
    background-size: 37px 37px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/in/home/images/promos/apple-music/icon_apple_music_large.png");
    display: inline-block
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .main [data-module-template="promos"] [data-unit-id="apple-music"] .logo-image-music-icon {
        background-image: url("https://www.apple.com/in/home/images/promos/apple-music/icon_apple_music_large_2x.png")
    }
}

@media only screen and (max-width: 1068px) {
    .main [data-module-template="promos"] [data-unit-id="apple-music"] .logo-image-music-icon {
        width: 33px;
        height: 33px;
        background-size: 33px 33px;
        background-repeat: no-repeat;
        background-image: url("https://www.apple.com/in/home/images/promos/apple-music/icon_apple_music_medium.png")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] [data-unit-id="apple-music"] .logo-image-music-icon {
        background-image: url("https://www.apple.com/in/home/images/promos/apple-music/icon_apple_music_medium_2x.png")
    }
}

@media only screen and (max-width: 735px) {
    .main [data-module-template="promos"] [data-unit-id="apple-music"] .logo-image-music-icon {
        width: 33px;
        height: 33px;
        background-size: 33px 33px;
        background-repeat: no-repeat;
        background-image: url("https://www.apple.com/in/home/images/promos/apple-music/icon_apple_music_small.png")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] [data-unit-id="apple-music"] .logo-image-music-icon {
        background-image: url("https://www.apple.com/in/home/images/promos/apple-music/icon_apple_music_small_2x.png")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-music-apple-music {
        background-image: url("https://www.apple.com/in/home/images/promos/apple-music/apple_music_small_2x.jpg")
    }
}

/*local style fix*/
html[data-layout-name=shipping-ribbon] .main [data-module-template="heroes"]:not(.standalone-module) [data-unit-id="iphone-xr"], html[data-layout-name=shipping-ribbon] .main [data-module-template="heroes"]:not(.standalone-module) [data-unit-id="iphone-xs"] {
	border-top-color: #fff;
    border-bottom-color: #fff;
}

.main [data-module-template="promos"] [data-unit-id="mac-mini"] .cta-links a {
    color:#6bf;
}

.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-all-new {
    background-image: url("https://www.apple.com/in/home/images/promos/apple-watch-series-4/all_new_large.jpg")
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-all-new {
        background-image: url("https://www.apple.com/in/home/images/promos/apple-watch-series-4/all_new_large_2x.jpg")
    }
}
@media only screen and (max-width: 1068px) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-all-new {
        background-image: url("https://www.apple.com/in/home/images/promos/apple-watch-series-4/all_new_medium.jpg")
    }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-apple-watch-series-4-all-new {
        background-image: url("https://www.apple.com/in/home/images/promos/apple-watch-series-4/all_new_medium_2x.jpg")
    }
}
.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipad-newWay-how-to-tile {
    background-image: url("https://www.apple.com/in/home/images/promos/ipad-newWay/how_to_tile_large.jpg")
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipad-newWay-how-to-tile {
        background-image: url("https://www.apple.com/in/home/images/promos/ipad-newWay/how_to_tile_large_2x.jpg")
    }
}
@media only screen and (max-width: 1068px) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipad-newWay-how-to-tile {
        background-image: url("https://www.apple.com/in/home/images/promos/ipad-newWay/how_to_tile_medium.jpg")
    }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipad-newWay-how-to-tile {
        background-image: url("https://www.apple.com/in/home/images/promos/ipad-newWay/how_to_tile_medium_2x.jpg")
    }
}
@media only screen and (max-width: 735px) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipad-newWay-how-to-tile {
        background-image: url("https://www.apple.com/in/home/images/promos/ipad-newWay/how_to_tile_small.jpg")
    }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipad-newWay-how-to-tile {
        background-image: url("https://www.apple.com/in/home/images/promos/ipad-newWay/how_to_tile_small_2x.jpg")
    }
}
/*takeover styles local*/
html.js.no-reduced-motion.no-edge body.iphone-takeover-enhanced .main [data-module-template="iphone-takeover"] .takeover-headline {
    margin-top: 52px;
}
.main [data-module-template="iphone-takeover"] .takeover-hero .takeover-headline {
    margin-top: 52px;
}
.bento .tile.tile-hero-placeholder .tile-label.tile-label-bottom {
    margin-bottom: 50px;
}
