/* ==========================================================================
   Gallery Component
========================================================================== */
.gallery {
  height: 0;
  margin-bottom: 6rem;
  padding-bottom: 65.9906%;
  position: relative; }
  @media only screen and (min-width: 736px) {
    .gallery {
      margin-bottom: 7.8rem;
      padding-bottom: 45.1389%; } }

@media only screen and (min-width: 736px) {
  .gallery--extra-margin-bottom {
    margin-bottom: 9rem; } }

.gallery-slides {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 0; }

.gallery-wrapper {
  margin: 0;
  padding: 0; }

.gallery-item {
  list-style: none;
  margin: 0;
  padding: 0; }
  .gallery-item img {
    display: block;
    width: 100%; }

.gallery-images {
  display: none; }

/* ==========================================================================
  AC Gallery
========================================================================== */
.ac-gallery-item {
  width: 100%; }

.ac-gallery-item img {
  display: block;
  width: 100%; }

.ac-gallery-item--inline-video {
  height: 100%; }

.ac-gallery-item--inline-video .video-player {
  min-height: 100%; }

.ac-gallery-item__video {
  height: 100%;
  position: relative;
  width: 100%; }

.ac-gallery-item__video a {
  z-index: 1; }

/* ==========================================================================
  Dot Nav
========================================================================== */
.gallery .dotnav {
  bottom: -46px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 1; }

.gallery .dotnav li {
  height: 2.2rem;
  width: 5rem;
  margin: 0 5px; }
  @media only screen and (max-width: 479px) {
    .gallery .dotnav li {
      width: 3rem; } }

.gallery .dotnav-item {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: none;
  border: 0 none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  display: block;
  height: 2.2rem;
  position: relative;
  text-indent: 300%;
  width: 5rem; }
  @media only screen and (max-width: 479px) {
    .gallery .dotnav-item {
      width: 3rem; } }
  .gallery .dotnav-item:hover::after {
    background: #666; }
  .gallery .dotnav-item::after {
    background: #cccccc;
    content: "";
    display: block;
    height: .2rem;
    left: 0;
    margin-top: -0.1rem;
    position: absolute;
    top: 50%;
    -webkit-transition: background 0.5s ease;
    transition: background 0.5s ease;
    width: 100%;
    will-change: background; }

.gallery .dotnav-item.current {
  background: none;
  left: 0;
  top: 0; }
  .gallery .dotnav-item.current::after {
    background: #666666; }

.dotnav--reverse .dotnav-item:hover::after,
.dotnav--reverse .dotnav-item.current::after {
  background: #fff; }

@supports (display: flex) {
  .gallery .dotnav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .gallery .dotnav li {
    display: block;
    max-width: 5rem;
    width: auto;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1; }
  .gallery .dotnav-item {
    width: 100%; } }

@media only screen and (max-width: 735px) {
  .gallery--with-caption {
    margin-bottom: 4rem; } }

@media only screen and (max-width: 735px) {
  .gallery--with-caption .dotnav {
    bottom: -20px; } }

/* ==========================================================================
  Paddle Nav
========================================================================== */
.gallery .paddlenav {
  z-index: 1; }
  @media only screen and (max-width: 735px) {
    .gallery .paddlenav {
      display: none; } }

.gallery .paddlenav--white .paddlenav-arrow,
.gallery .paddlenav--white .paddlenav-arrow[data-focus-method="mouse"],
.gallery .paddlenav--white .paddlenav-arrow[data-focus-method="touch"] {
  opacity: 1;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.33); }
  .gallery .paddlenav--white .paddlenav-arrow:hover,
  .gallery .paddlenav--white .paddlenav-arrow[data-focus-method="mouse"]:hover,
  .gallery .paddlenav--white .paddlenav-arrow[data-focus-method="touch"]:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4); }
  .gallery .paddlenav--white .paddlenav-arrow:focus,
  .gallery .paddlenav--white .paddlenav-arrow[data-focus-method="mouse"]:focus,
  .gallery .paddlenav--white .paddlenav-arrow[data-focus-method="touch"]:focus {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.33); }
  .gallery .paddlenav--white .paddlenav-arrow:focus:hover,
  .gallery .paddlenav--white .paddlenav-arrow[data-focus-method="mouse"]:focus:hover,
  .gallery .paddlenav--white .paddlenav-arrow[data-focus-method="touch"]:focus:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4); }
  .gallery .paddlenav--white .paddlenav-arrow:disabled,
  .gallery .paddlenav--white .paddlenav-arrow[data-focus-method="mouse"]:disabled,
  .gallery .paddlenav--white .paddlenav-arrow[data-focus-method="touch"]:disabled {
    opacity: 0; }

.paddlenav-arrow {
  z-index: 1; }

.paddlenav-arrow-next,
.paddlenav-arrow-previous {
  border-radius: 3.2rem;
  -webkit-border-radius: 3.2rem;
  -moz-border-radius: 3.2rem;
  height: 6.4rem;
  margin-top: -3.2rem;
  width: 6.4rem; }

.paddlenav-arrow-previous::after,
.paddlenav-arrow-next::after {
  display: block;
  content: "\F002";
  font-size: 4rem;
  font-weight: 600;
  padding-right: .2rem; }

.paddlenav-arrow-next::after {
  content: "\F004";
  padding: 0 0 0 .2rem; }
