
/* AIRPODS PROMO TILE */
.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-airpods-airpods-magic {
	  width: 1262px;
    height: 580px;
    background-size: 1262px 580px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/vn/home/images/promos/airpods/airpods_magic__geiladfa3kqe_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
	  .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-airpods-airpods-magic {
	      background-image: url("https://www.apple.com/vn/home/images/promos/airpods/airpods_magic__geiladfa3kqe_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
	  .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-airpods-airpods-magic {
	      width: 516px;
        height: 490px;
        background-size: 516px 490px;
        background-repeat: no-repeat;
        background-image: url("https://www.apple.com/vn/home/images/promos/airpods/airpods_magic__geiladfa3kqe_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	  .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-airpods-airpods-magic {
	      background-image: url("https://www.apple.com/vn/home/images/promos/airpods/airpods_magic__geiladfa3kqe_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
	  .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-airpods-airpods-magic {
	      width: 736px;
        height: 548px;
        background-size: 736px 548px;
        background-repeat: no-repeat;
        background-image: url("https://www.apple.com/vn/home/images/promos/airpods/airpods_magic__geiladfa3kqe_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	  .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-airpods-airpods-magic {
	      background-image: url("https://www.apple.com/vn/home/images/promos/airpods/airpods_magic__geiladfa3kqe_small_2x.jpg")
    }
}

/* iPadOS tile START */
.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipados-tile {
	  width: 1262px;
    height: 580px;
    background-size: 1262px 580px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/vn/home/images/promos/ipados/tile__cauwwcyyn9hy_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	  .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipados-tile {
	      background-image: url("https://www.apple.com/vn/home/images/promos/ipados/tile__cauwwcyyn9hy_large_2x.jpg");
    }
}

@media only screen and (max-width: 1068px) {
	  .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipados-tile {
	      width: 516px;
        height: 490px;
        background-size: 516px 490px;
        background-repeat: no-repeat;
        background-image: url("https://www.apple.com/vn/home/images/promos/ipados/tile__cauwwcyyn9hy_medium.jpg");
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	  .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipados-tile {
	      background-image: url("https://www.apple.com/vn/home/images/promos/ipados/tile__cauwwcyyn9hy_medium_2x.jpg");
    }
}

@media only screen and (max-width: 735px) {
	  .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipados-tile {
	      width: 736px;
        height: 548px;
        background-size: 736px 548px;
        background-repeat: no-repeat;
        background-image: url("https://www.apple.com/vn/home/images/promos/ipados/tile__cauwwcyyn9hy_small.jpg");
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	  .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-ipados-tile {
	      background-image: url("https://www.apple.com/vn/home/images/promos/ipados/tile__cauwwcyyn9hy_small_2x.jpg");
    }
}

/* iPadOS tile END */
.main [data-module-template="promos"] [data-unit-id="apple-arcade-avail"] .unit-copy-wrapper .tagline {
	  color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

/* macOS tile START from /v/ version EJ */
.main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-macos-tile {
	  width: 1262px;
    height: 580px;
    background-size: 1262px 580px;
    background-image: url("https://www.apple.com/vn/home/images/promos/macos/tile__cauwwcyyn9hy_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	  .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-macos-tile {
	      background-image: url("https://www.apple.com/vn/home/images/promos/macos/tile__cauwwcyyn9hy_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
	  .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-macos-tile {
	      width: 516px;
        height: 490px;
        background-size: 516px 490px;
        background-image: url("https://www.apple.com/vn/home/images/promos/macos/tile__cauwwcyyn9hy_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	  .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-macos-tile {
	      background-image: url("https://www.apple.com/vn/home/images/promos/macos/tile__cauwwcyyn9hy_medium_2x.jpg")
    }
}

@media only screen and (max-width: 735px) {
	  .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-macos-tile {
	      width: 736px;
        height: 500px;
        background-size: 736px 500px;
        background-image: url("https://www.apple.com/vn/home/images/promos/macos/tile__cauwwcyyn9hy_small.jpg")
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
	  .main [data-module-template="promos"] .unit-image-wrapper .unit-image.unit-image-macos-tile {
	      background-image: url("https://www.apple.com/vn/home/images/promos/macos/tile__cauwwcyyn9hy_small_2x.jpg")
    }
}

/* macOS tile END */
.tvplus-main{
	  padding-bottom: 70px;
}

.main [data-module-template="promos"] [data-unit-id] .unit-copy-wrapper .cta-links a:not(:only-child):not(:first-child).footnote {
	  margin-left: 0;
}

/* HERO Airpos Pro take from /v/ version EP */
.main [data-module-template=heroes] .unit-image-wrapper .unit-image.unit-image-airpods-pro-takeover-airpods-pro{width:868px;height:579px;background-size:868px 579px;background-repeat:no-repeat;background-image:url(https://www.apple.com/v/home/ep/images/heroes/airpods-pro-takeover/airpods_pro__fok8ao5xkga6_large.jpg)}@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx),(-webkit-min-device-pixel-ratio:1.5),(min-resolution:144dpi){.main [data-module-template=heroes] .unit-image-wrapper .unit-image.unit-image-airpods-pro-takeover-airpods-pro{background-image:url(https://www.apple.com/v/home/ep/images/heroes/airpods-pro-takeover/airpods_pro__fok8ao5xkga6_large_2x.jpg)}}@media only screen and (min-width:1442px){.main [data-module-template=heroes] .unit-image-wrapper .unit-image.unit-image-airpods-pro-takeover-airpods-pro{width:1026px;height:684px;background-size:1026px 684px;background-repeat:no-repeat;background-image:url(https://www.apple.com/v/home/ep/images/heroes/airpods-pro-takeover/airpods_pro__fok8ao5xkga6_xlarge.jpg)}}@media only screen and (min-width:1442px) and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-width:1442px) and (min-resolution:1.5dppx),only screen and (min-width:1442px) and (min-resolution:144dpi){.main [data-module-template=heroes] .unit-image-wrapper .unit-image.unit-image-airpods-pro-takeover-airpods-pro{background-image:url(https://www.apple.com/v/home/ep/images/heroes/airpods-pro-takeover/airpods_pro__fok8ao5xkga6_xlarge_2x.jpg)}}@media only screen and (max-width:1068px){.main [data-module-template=heroes] .unit-image-wrapper .unit-image.unit-image-airpods-pro-takeover-airpods-pro{width:714px;height:476px;background-size:714px 476px;background-repeat:no-repeat;background-image:url(https://www.apple.com/v/home/ep/images/heroes/airpods-pro-takeover/airpods_pro__fok8ao5xkga6_medium.jpg)}}@media only screen and (max-width:1068px) and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px) and (min-resolution:1.5dppx),only screen and (max-width:1068px) and (min-resolution:144dpi){.main [data-module-template=heroes] .unit-image-wrapper .unit-image.unit-image-airpods-pro-takeover-airpods-pro{background-image:url(https://www.apple.com/v/home/ep/images/heroes/airpods-pro-takeover/airpods_pro__fok8ao5xkga6_medium_2x.jpg)}}@media only screen and (max-width:735px){.main [data-module-template=heroes] .unit-image-wrapper .unit-image.unit-image-airpods-pro-takeover-airpods-pro{width:344px;height:375px;background-size:344px 375px;background-repeat:no-repeat;background-image:url(https://www.apple.com/v/home/ep/images/heroes/airpods-pro-takeover/airpods_pro__fok8ao5xkga6_small.jpg)}}@media only screen and (max-width:735px) and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:735px) and (min-resolution:1.5dppx),only screen and (max-width:735px) and (min-resolution:144dpi){.main [data-module-template=heroes] .unit-image-wrapper .unit-image.unit-image-airpods-pro-takeover-airpods-pro{background-image:url(https://www.apple.com/v/home/ep/images/heroes/airpods-pro-takeover/airpods_pro__fok8ao5xkga6_small_2x.jpg)}}.main [data-module-template=heroes] .unit-image-wrapper .unit-image.unit-image-airpods-pro-takeover-airpods-pro-largewee{width:662px;height:442px;background-size:662px 442px;background-repeat:no-repeat;background-image:url(https://www.apple.com/v/home/ep/images/heroes/airpods-pro-takeover/airpods_pro_largewee__dxntv8wcuxme_large.jpg)}@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx),(-webkit-min-device-pixel-ratio:1.5),(min-resolution:144dpi){.main [data-module-template=heroes] .unit-image-wrapper .unit-image.unit-image-airpods-pro-takeover-airpods-pro-largewee{background-image:url(https://www.apple.com/v/home/ep/images/heroes/airpods-pro-takeover/airpods_pro_largewee__dxntv8wcuxme_large_2x.jpg)}}@media only screen and (max-width:1068px){.main [data-module-template=heroes] .unit-image-wrapper .unit-image.unit-image-airpods-pro-takeover-airpods-pro-portrait{width:523px;height:570px;background-size:523px 570px;background-repeat:no-repeat;background-image:url(https://www.apple.com/v/home/ep/images/heroes/airpods-pro-takeover/airpods_pro_portrait__9vz4g4lzwua2_medium.jpg)}}@media only screen and (max-width:1068px) and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px) and (min-resolution:1.5dppx),only screen and (max-width:1068px) and (min-resolution:144dpi){.main [data-module-template=heroes] .unit-image-wrapper .unit-image.unit-image-airpods-pro-takeover-airpods-pro-portrait{background-image:url(https://www.apple.com/v/home/ep/images/heroes/airpods-pro-takeover/airpods_pro_portrait__9vz4g4lzwua2_medium_2x.jpg)}}@media only screen and (max-width:1068px){.main [data-module-template=heroes] .unit-image-wrapper .unit-image.unit-image-airpods-pro-takeover-airpods-pro-portrait-big{width:682px;height:744px;background-size:682px 744px;background-repeat:no-repeat;background-image:url(https://www.apple.com/v/home/ep/images/heroes/airpods-pro-takeover/airpods_pro_portrait_big__c2il2jxxlgae_medium.jpg)}}@media only screen and (max-width:1068px) and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px) and (min-resolution:1.5dppx),only screen and (max-width:1068px) and (min-resolution:144dpi){.main [data-module-template=heroes] .unit-image-wrapper .unit-image.unit-image-airpods-pro-takeover-airpods-pro-portrait-big{background-image:url(https://www.apple.com/v/home/ep/images/heroes/airpods-pro-takeover/airpods_pro_portrait_big__c2il2jxxlgae_medium_2x.jpg)}}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover]{width:100%}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-wrapper,.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] [data-unit-id]{width:100%}@media screen and (max-width:1441px) and (min-width:1069px){.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-wrapper,.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] [data-unit-id]{height:80vh}}@media screen and (max-width:735px) and (min-width:0px){.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-wrapper,.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] [data-unit-id]{height:85vh}}@media screen and (max-width:1442000px) and (min-width:1442px){.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-wrapper,.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] [data-unit-id]{height:80vh}}@media screen and (max-width:767px) and (min-width:736px){.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-wrapper,.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] [data-unit-id]{height:90vh}}@media screen and (max-width:1068px) and (min-width:768px){.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-wrapper,.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] [data-unit-id]{height:90vh}}@supports (height:calc(var(--global-nav-collective-height) + var(--content-height) + 12px)){.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover]{width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;border-color:var(--gutter-color);border-style:solid;border-left-width:var(--edge-border-width-fallback);border-right-width:var(--edge-border-width-fallback)}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-wrapper,.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] [data-unit-id]{position:relative;overflow:hidden;-webkit-box-sizing:border-box;box-sizing:border-box}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] [data-unit-id]{border-style:solid}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-wrapper{width:100%}@media screen and (max-width:1441px) and (min-width:1069px){.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover]{--content-height:80vh;--gutter-width:12px;--gutter-half-width:6px;--gutter-and-half-width:18px;--gutter-color:#fff;--edge-border-width-fallback:0px}}@media screen and (max-width:735px) and (min-width:0px){.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover]{--content-height:85vh;--gutter-width:12px;--gutter-half-width:6px;--gutter-and-half-width:18px;--gutter-color:#fff;--edge-border-width-fallback:0px}}@media screen and (max-width:1442000px) and (min-width:1442px){.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover]{--content-height:80vh;--gutter-width:12px;--gutter-half-width:6px;--gutter-and-half-width:18px;--gutter-color:#fff;--edge-border-width-fallback:0px}}@media screen and (max-width:767px) and (min-width:736px){.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover]{--content-height:90vh;--gutter-width:12px;--gutter-half-width:6px;--gutter-and-half-width:18px;--gutter-color:#fff;--edge-border-width-fallback:0px}}@media screen and (max-width:1068px) and (min-width:768px){.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover]{--content-height:90vh;--gutter-width:12px;--gutter-half-width:6px;--gutter-and-half-width:18px;--gutter-color:#fff;--edge-border-width-fallback:0px}}@supports (border-left-width:calc(max(0px))){.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover]{border-left-width:max(var(--edge-border-width-fallback),env(safe-area-inset-left));border-right-width:max(var(--edge-border-width-fallback),env(safe-area-inset-right))}}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover]:only-child{border-top-width:0;border-bottom-width:12px;padding-top:var(--global-nav-collective-height);height:calc(var(--global-nav-collective-height) + var(--content-height) + var(--gutter-width))}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover]:not(:only-child):first-child{border-top-width:0;border-bottom-width:var(--gutter-half-width);padding-top:var(--global-nav-collective-height);height:calc(var(--global-nav-collective-height) + var(--content-height) + var(--gutter-half-width))}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover]:not(:only-child):not(:first-child):not(:last-child){border-top-width:var(--gutter-half-width);border-bottom-width:var(--gutter-half-width);padding-top:0;height:calc(var(--content-height) + var(--gutter-width))}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover]:not(:only-child):last-child{border-top-width:var(--gutter-half-width);border-bottom-width:var(--gutter-width);padding-top:0;height:calc(var(--content-height) + var(--gutter-and-half-width))}}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover]{height:auto!important}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-wrapper{min-height:885px;max-height:1185px}@media only screen and (max-height:1000px){.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-wrapper{min-height:845px}}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .subhead{font-weight:400}html.text-zoom .main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .cta-links,html.text-zoom .main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .headline,html.text-zoom .main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .subhead{line-height:1}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-copy-wrapper{margin-top:-289.5px;padding-top:0;width:100%;position:absolute;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-image-wrapper{margin-top:60px;top:50%;height:auto;-webkit-transform:translateY(-50%);transform:translateY(-50%)}html.text-zoom .main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-image-wrapper{padding-top:2.5em}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-image-airpods-pro-takeover-airpods-pro{position:relative}@media only screen and (min-width:1442px){.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-wrapper{min-height:990px;max-height:1290px}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-copy-wrapper{margin-top:-341.5px}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-image-wrapper{margin-top:62px}}@media only screen and (max-width:1441px) and (min-width:1069px) and (max-height:875px){.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-wrapper{min-height:800px}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-copy-wrapper{margin-top:-241px}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-image-wrapper{margin-top:80px}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-image-wrapper .unit-image.unit-image-airpods-pro-takeover-airpods-pro{width:662px;height:442px;background-size:662px 442px;background-repeat:no-repeat;background-image:url(https://www.apple.com/v/home/ep/images/heroes/airpods-pro-takeover/airpods_pro_largewee__dxntv8wcuxme_large.jpg)}}@media only screen and (max-width:1441px) and (min-width:1069px) and (max-height:875px) and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1441px) and (min-width:1069px) and (max-height:875px) and (min-resolution:1.5dppx),only screen and (max-width:1441px) and (min-width:1069px) and (max-height:875px) and (min-resolution:144dpi){.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-image-wrapper .unit-image.unit-image-airpods-pro-takeover-airpods-pro{background-image:url(https://www.apple.com/v/home/ep/images/heroes/airpods-pro-takeover/airpods_pro_largewee__dxntv8wcuxme_large_2x.jpg)}}@media only screen and (max-width:1068px){.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-wrapper{min-height:712px;max-height:1002px}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-copy-wrapper{margin-top:-244px}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-image-wrapper{margin-top:46px}}@media screen and (max-width:1068px) and (min-width:736px) and (max-aspect-ratio:1 / 1) and (min-aspect-ratio:1 / 10000) and (min-width:0px) and (max-width:1442000px){.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-wrapper{min-height:896px;max-height:1146px}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-copy-wrapper{margin-top:-318px}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-image-wrapper{margin-top:78px}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-image-wrapper .unit-image.unit-image-airpods-pro-takeover-airpods-pro{width:523px;height:570px;background-size:523px 570px;background-repeat:no-repeat;background-image:url(https://www.apple.com/v/home/ep/images/heroes/airpods-pro-takeover/airpods_pro_portrait__9vz4g4lzwua2_medium.jpg)}}@media only screen and (max-width:1068px) and (min-width:736px) and (max-aspect-ratio:1 / 1) and (min-aspect-ratio:1 / 10000) and (min-width:0px) and (max-width:1442000px) and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px) and (min-width:736px) and (max-aspect-ratio:1 / 1) and (min-aspect-ratio:1 / 10000) and (min-width:0px) and (max-width:1442000px) and (min-resolution:1.5dppx),screen and (max-width:1068px) and (min-width:736px) and (max-aspect-ratio:1 / 1) and (min-aspect-ratio:1 / 10000) and (min-width:0px) and (max-width:1442000px) and (-webkit-min-device-pixel-ratio:1.5),screen and (max-width:1068px) and (min-width:736px) and (max-aspect-ratio:1 / 1) and (min-aspect-ratio:1 / 10000) and (min-width:0px) and (max-width:1442000px) and (min-resolution:144dpi){.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-image-wrapper .unit-image.unit-image-airpods-pro-takeover-airpods-pro{background-image:url(https://www.apple.com/v/home/ep/images/heroes/airpods-pro-takeover/airpods_pro_portrait__9vz4g4lzwua2_medium_2x.jpg)}}@media only screen and (max-width:1068px) and (min-width:736px) and (max-aspect-ratio:1 / 1) and (min-aspect-ratio:1 / 10000) and (min-width:0px) and (max-width:1442000px) and (min-width:900px) and (min-height:1215px){.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-wrapper{max-height:1246px}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-copy-wrapper{margin-top:-435px}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-image-wrapper{margin-top:93px}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-image-wrapper .unit-image.unit-image-airpods-pro-takeover-airpods-pro{width:682px;height:744px;background-size:682px 744px;background-repeat:no-repeat;background-image:url(https://www.apple.com/v/home/ep/images/heroes/airpods-pro-takeover/airpods_pro_portrait_big__c2il2jxxlgae_medium.jpg)}}@media only screen and (max-width:1068px) and (min-width:736px) and (max-aspect-ratio:1 / 1) and (min-aspect-ratio:1 / 10000) and (min-width:0px) and (max-width:1442000px) and (min-width:900px) and (min-height:1215px) and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px) and (min-width:736px) and (max-aspect-ratio:1 / 1) and (min-aspect-ratio:1 / 10000) and (min-width:0px) and (max-width:1442000px) and (min-width:900px) and (min-height:1215px) and (min-resolution:1.5dppx),only screen and (max-width:1068px) and (min-width:736px) and (max-aspect-ratio:1 / 1) and (min-aspect-ratio:1 / 10000) and (min-width:0px) and (max-width:1442000px) and (min-width:900px) and (min-height:1215px) and (min-resolution:144dpi){.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-image-wrapper .unit-image.unit-image-airpods-pro-takeover-airpods-pro{background-image:url(https://www.apple.com/v/home/ep/images/heroes/airpods-pro-takeover/airpods_pro_portrait_big__c2il2jxxlgae_medium_2x.jpg)}}@media only screen and (max-width:735px){.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-wrapper{min-height:616px;max-height:716px}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-copy-wrapper{margin-top:-197.5px}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover] .unit-image-wrapper{margin-top:63px}}.main [data-module-template=heroes] [data-unit-id=airpods-pro-takeover]:not(:only-child):last-child{border-bottom-width:var(--gutter-half-width)}

/* ------------------------------------- END Airpods Pro */
/* TV PLUS SERVANT */
.main [data-module-template=promos] [data-unit-id=tv-plus-servant-avail] .unit-copy-wrapper {
	  height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.main [data-module-template=promos] [data-unit-id=tv-plus-servant-avail] .unit-copy-wrapper .headline {
	  margin-top: 56px
}

@media only screen and (max-width:1068px) {
	  .main [data-module-template=promos] [data-unit-id=tv-plus-servant-avail] .unit-copy-wrapper .headline {
	      margin-top: 45px
    }
}

@media only screen and (max-width:734px) {
	  .main [data-module-template=promos] [data-unit-id=tv-plus-servant-avail] .unit-copy-wrapper .headline {
	      margin-top: 38px
    }
}

.main [data-module-template=promos] [data-unit-id=tv-plus-servant-avail] .unit-copy-wrapper .cta-links {
	  font-size: 17px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 22px;
    margin-bottom: 42px
}

@media only screen and (max-width:1068px) {
	  .main [data-module-template=promos] [data-unit-id=tv-plus-servant-avail] .unit-copy-wrapper .cta-links {
	      margin-top: 19px;
        margin-bottom: 43px
    }
}

@media only screen and (max-width:734px) {
	  .main [data-module-template=promos] [data-unit-id=tv-plus-servant-avail] .unit-copy-wrapper .cta-links {
	      margin-top: 14px;
        margin-bottom: 35px
    }
}

.main [data-module-template=promos] .unit-image-wrapper .unit-image.unit-image-tv-plus-servant-avail-tile {
	  width: 1262px;
    height: 580px;
    background-size: 1262px 580px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/home/er/images/promos/tv-plus-servant-avail/tile__cauwwcyyn9hy_large.jpg)
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min-resolution:1.5dppx),
(-webkit-min-device-pixel-ratio:1.5),
(min-resolution:144dpi) {
	  .main [data-module-template=promos] .unit-image-wrapper .unit-image.unit-image-tv-plus-servant-avail-tile {
	      background-image: url(https://www.apple.com/v/home/er/images/promos/tv-plus-servant-avail/tile__cauwwcyyn9hy_large_2x.jpg)
    }
}

@media only screen and (max-width:1068px) {
	  .main [data-module-template=promos] .unit-image-wrapper .unit-image.unit-image-tv-plus-servant-avail-tile {
	      width: 516px;
        height: 490px;
        background-size: 516px 490px;
        background-repeat: no-repeat;
        background-image: url(https://www.apple.com/v/home/er/images/promos/tv-plus-servant-avail/tile__cauwwcyyn9hy_medium.jpg)
    }
}

@media only screen and (max-width:1068px) and (-webkit-min-device-pixel-ratio:1.5),
only screen and (max-width:1068px) and (min-resolution:1.5dppx),
only screen and (max-width:1068px) and (min-resolution:144dpi) {
	  .main [data-module-template=promos] .unit-image-wrapper .unit-image.unit-image-tv-plus-servant-avail-tile {
	      background-image: url(https://www.apple.com/v/home/er/images/promos/tv-plus-servant-avail/tile__cauwwcyyn9hy_medium_2x.jpg)
    }
}

@media only screen and (max-width:734px) {
	  .main [data-module-template=promos] .unit-image-wrapper .unit-image.unit-image-tv-plus-servant-avail-tile {
	      width: 736px;
        height: 548px;
        background-size: 736px 548px;
        background-repeat: no-repeat;
        background-image: url(https://www.apple.com/v/home/er/images/promos/tv-plus-servant-avail/tile__cauwwcyyn9hy_small.jpg)
    }
}

@media only screen and (max-width:734px) and (-webkit-min-device-pixel-ratio:1.5),
only screen and (max-width:734px) and (min-resolution:1.5dppx),
only screen and (max-width:734px) and (min-resolution:144dpi) {
	  .main [data-module-template=promos] .unit-image-wrapper .unit-image.unit-image-tv-plus-servant-avail-tile {
	      background-image: url(https://www.apple.com/v/home/er/images/promos/tv-plus-servant-avail/tile__cauwwcyyn9hy_small_2x.jpg)
    }
}

.logo-image-tv-plus-servant-avail-logo {
	  width: 95px;
    height: 37px;
    background-size: 95px 37px;
    background-repeat: no-repeat;
    background-image: url("https://www.apple.com/v/home/er/images/logos/tv-plus-servant-avail/logo__dcojfwkzna2q_large.png");
    background-position:center
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
	  .logo-image-tv-plus-servant-avail-logo {
	      background-image: url("https://www.apple.com/v/home/er/images/logos/tv-plus-servant-avail/logo__dcojfwkzna2q_large_2x.png")
    }
}

@media only screen and (max-width: 1068px) {
	  .logo-image-tv-plus-servant-avail-logo {
	      width: 75px;
        height: 30px;
        background-size: 75px 30px;
        background-repeat: no-repeat;
        background-image: url("https://www.apple.com/v/home/er/images/logos/tv-plus-servant-avail/logo__dcojfwkzna2q_medium.png")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	  .logo-image-tv-plus-servant-avail-logo {
	      background-image: url("https://www.apple.com/v/home/er/images/logos/tv-plus-servant-avail/logo__dcojfwkzna2q_medium_2x.png")
    }
}

@media only screen and (max-width: 734px) {
	  .logo-image-tv-plus-servant-avail-logo {
	      width: 75px;
        height: 34px;
        background-size: 75px 34px;
        background-repeat: no-repeat;
        background-image: url("https://www.apple.com/v/home/er/images/logos/tv-plus-servant-avail/logo__dcojfwkzna2q_small.png")
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	  .logo-image-tv-plus-servant-avail-logo {
	      background-image: url("https://www.apple.com/v/home/er/images/logos/tv-plus-servant-avail/logo__dcojfwkzna2q_small_2x.png")
    }
}

.logo-image-tv-plus-servant-avail-servant-logo {
	  width: 450px;
    height: 77px;
    background-size: 450px 77px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/home/er/images/logos/tv-plus-servant-avail/servant_logo__d4zoyasnm0wi_large.png);
    background-position: center
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min-resolution:1.5dppx),
(-webkit-min-device-pixel-ratio:1.5),
(min-resolution:144dpi) {
	  .logo-image-tv-plus-servant-avail-servant-logo {
	      background-image: url(https://www.apple.com/v/home/er/images/logos/tv-plus-servant-avail/servant_logo__d4zoyasnm0wi_large_2x.png)
    }
}

@media only screen and (max-width:1068px) {
	  .logo-image-tv-plus-servant-avail-servant-logo {
	      width: 318px;
        height: 59px;
        background-size: 318px 59px;
        background-repeat: no-repeat;
        background-image: url(https://www.apple.com/v/home/er/images/logos/tv-plus-servant-avail/servant_logo__d4zoyasnm0wi_medium.png)
    }
}

@media only screen and (max-width:1068px) and (-webkit-min-device-pixel-ratio:1.5),
only screen and (max-width:1068px) and (min-resolution:1.5dppx),
only screen and (max-width:1068px) and (min-resolution:144dpi) {
	  .logo-image-tv-plus-servant-avail-servant-logo {
	      background-image: url(https://www.apple.com/v/home/er/images/logos/tv-plus-servant-avail/servant_logo__d4zoyasnm0wi_medium_2x.png)
    }
}

@media only screen and (max-width:734px) {
	  .logo-image-tv-plus-servant-avail-servant-logo {
	      width: 299px;
        height: 50px;
        background-size: 299px 50px;
        background-repeat: no-repeat;
        background-image: url(https://www.apple.com/v/home/er/images/logos/tv-plus-servant-avail/servant_logo__d4zoyasnm0wi_small.png)
    }
}

@media only screen and (max-width:734px) and (-webkit-min-device-pixel-ratio:1.5),
only screen and (max-width:734px) and (min-resolution:1.5dppx),
only screen and (max-width:734px) and (min-resolution:144dpi) {
	  .logo-image-tv-plus-servant-avail-servant-logo {
	      background-image: url(https://www.apple.com/v/home/er/images/logos/tv-plus-servant-avail/servant_logo__d4zoyasnm0wi_small_2x.png)
    }
}

/* Localise */
.logo-image-tv-plus-servant-avail-servant-logo {
	  width: 464px;
    height: 94px;
    background-size: 464px 94px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/vn/home/images/logos/tv-plus-servant-avail/servant_logo__d4zoyasnm0wi_large.png);
    background-position:center
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
	  .logo-image-tv-plus-servant-avail-servant-logo {
	      background-image:url(https://www.apple.com/vn/home/images/logos/tv-plus-servant-avail/servant_logo__d4zoyasnm0wi_large_2x.png)
    }
}

@media only screen and (max-width: 1068px) {
	  .logo-image-tv-plus-servant-avail-servant-logo {
	      width: 334px;
        height: 72px;
        background-size: 334px 72px;
        background-image:url(https://www.apple.com/vn/home/images/logos/tv-plus-servant-avail/servant_logo__d4zoyasnm0wi_medium.png)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	  .logo-image-tv-plus-servant-avail-servant-logo {
	      background-image:url(https://www.apple.com/vn/home/images/logos/tv-plus-servant-avail/servant_logo__d4zoyasnm0wi_medium_2x.png)
    }
}

@media only screen and (max-width: 734px) {
	  .logo-image-tv-plus-servant-avail-servant-logo {
	      width: 313px;
        height: 61px;
        background-size: 313px 61px;
        background-image:url(https://www.apple.com/vn/home/images/logos/tv-plus-servant-avail/servant_logo__d4zoyasnm0wi_small.png)
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	  .logo-image-tv-plus-servant-avail-servant-logo {
	      background-image: url(https://www.apple.com/vn/home/images/logos/tv-plus-servant-avail/servant_logo__d4zoyasnm0wi_small_2x.png)
    }
}



/* END TV PLUS SERVANT */
.btn-music {
	  margin-left: 26px;
}

/*Airpod Background fix*/
[data-module-template] [data-unit-id] .unit-wrapper.theme-dark {
	  background: #000;
}

.tv-plus-see-subhead {
	  color: #FFF !important;
}

.logo-image-tv-plus-la-la-logo {
	  width: 441px;
    height: 118px;
    background-size: 441px 118px;
    background-image: url("https://www.apple.com/vn/home/images/logos/tv-plus-la/la_logo__cxaw552xdj2a_large.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
	  .logo-image-tv-plus-la-la-logo {
	      background-image: url("https://www.apple.com/vn/home/images/logos/tv-plus-la/la_logo__cxaw552xdj2a_large_2x.png")
    }
}

@media only screen and (max-width: 1068px) {
	  .logo-image-tv-plus-la-la-logo {
	      width: 344px;
        height: 103px;
        background-size: 344px 103px;
        background-image: url("https://www.apple.com/vn/home/images/logos/tv-plus-la/la_logo__cxaw552xdj2a_medium.png")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	  .logo-image-tv-plus-la-la-logo {
	      background-image: url("https://www.apple.com/vn/home/images/logos/tv-plus-la/la_logo__cxaw552xdj2a_medium_2x.png")
    }
}

@media only screen and (max-width: 734px) {
	  .logo-image-tv-plus-la-la-logo {
	      width: 297px;
        height: 99px;
        background-size: 297px 99px;
        background-image: url("https://www.apple.com/vn/home/images/logos/tv-plus-la/la_logo__cxaw552xdj2a_small.png")
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	  .logo-image-tv-plus-la-la-logo {
	      background-image: url("https://www.apple.com/vn/home/images/logos/tv-plus-la/la_logo__cxaw552xdj2a_small_2x.png")
    }
}

.logo-image-tv-plus-la-la-logo{
	  padding-bottom: 31px;
    margin-left: -5px;
}

@media only screen and (max-width: 1068px) {
	  .logo-image-tv-plus-la-la-logo{
	      padding-bottom: 31px;
        margin-left: -6px;
    }
}

@media only screen and (max-width: 734px) {
	  .logo-image-tv-plus-la-la-logo{
	      padding-bottom: 31px;
        margin-left: 0px;
    }
}

.logo-image-tv-plus-visible-visible-logo {
	width: 443px;
	height: 160px;
	background-size: 443px 160px;
	background-image: url("https://www.apple.com/vn/home/images/logos/tv-plus-visible/visible_logo__crjvwfuokl4y_large.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.logo-image-tv-plus-visible-visible-logo {
		background-image: url("https://www.apple.com/vn/home/images/logos/tv-plus-visible/visible_logo__crjvwfuokl4y_large_2x.png")
	}
}

@media only screen and (max-width: 1068px) {
	.logo-image-tv-plus-visible-visible-logo {
		width: 300px;
		height: 106px;
		background-size: 300px 106px;
		background-image: url("https://www.apple.com/vn/home/images/logos/tv-plus-visible/visible_logo__crjvwfuokl4y_medium.png")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.logo-image-tv-plus-visible-visible-logo {
		background-image: url("https://www.apple.com/vn/home/images/logos/tv-plus-visible/visible_logo__crjvwfuokl4y_medium_2x.png")
	}
}

@media only screen and (max-width: 734px) {
	.logo-image-tv-plus-visible-visible-logo {
		width: 275px;
		height: 97px;
		background-size: 275px 97px;
		background-image: url("https://www.apple.com/vn/home/images/logos/tv-plus-visible/visible_logo__crjvwfuokl4y_small.png")
	}
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.logo-image-tv-plus-visible-visible-logo {
		background-image: url("https://www.apple.com/vn/home/images/logos/tv-plus-visible/visible_logo__crjvwfuokl4y_small_2x.png")
	}
}

.logo-image-tv-plus-before-dark-logo {
	width: 348px;
	height: 104px;
	background-size: 348px 104px;
	background-image: url("https://www.apple.com/vn/home/images/logos/tv-plus-before-dark/logo__dcojfwkzna2q_large.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.logo-image-tv-plus-before-dark-logo {
		background-image: url("https://www.apple.com/vn/home/images/logos/tv-plus-before-dark/logo__dcojfwkzna2q_large_2x.png")
	}
}

@media only screen and (max-width: 1068px) {
	.logo-image-tv-plus-before-dark-logo {
		width: 295px;
		height: 88px;
		background-size: 295px 88px;
		background-image: url("https://www.apple.com/vn/home/images/logos/tv-plus-before-dark/logo__dcojfwkzna2q_medium.png")
	}
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
	.logo-image-tv-plus-before-dark-logo {
		background-image: url("https://www.apple.com/vn/home/images/logos/tv-plus-before-dark/logo__dcojfwkzna2q_medium_2x.png")
	}
}

@media only screen and (max-width: 734px) {
	.logo-image-tv-plus-before-dark-logo {
		width: 331px;
		height: 99px;
		background-size: 331px 99px;
		background-image: url("https://www.apple.com/vn/home/images/logos/tv-plus-before-dark/logo__dcojfwkzna2q_small.png")
	}
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
	.logo-image-tv-plus-before-dark-logo {
		background-image: url("https://www.apple.com/vn/home/images/logos/tv-plus-before-dark/logo__dcojfwkzna2q_small_2x.png")
	}
}

.main [data-module-template="promos"] [data-unit-id="tv-plus-helpsters"] .unit-wrapper .unit-copy-wrapper .cta-links{
    margin-bottom:16px;
}
