/* WEB FONT 2016.12.28 */

html[lang=zh-TW] .more::after,
html[lang=zh-TW] .more .icon-htc,
html[lang=zh-TW] .icon-downloadsolid::before,
html[lang=zh-TW] .icon-downloadsolid::after,
html[lang=zh-TW] .icon-chevronright::before,
html[lang=zh-TW] .icon-chevronright::after {
    top: -1.5px;
}

.icon-playcircle:before,
.icon-playcircle:after {
    top: -1px;
}

html[lang=zh-TW] .more.arrowicon_top::before,
html[lang=zh-TW] .more.arrowicon_top::after,
html[lang=zh-TW] .more.arrowicon_top .icon-htc {
    top: 0px;
}

html[lang=zh-TW] #ac-globalfooter .ac-gf-more::after,
html[lang=zh-TW] #ac-globalfooter .ac-gf-more .icon-htc{top:-1px;}

/* center align large and medium */
html[lang=zh-TW] .centeralign { padding-left: 0.4em; }
@media only screen and (max-width: 735px) { html[lang=zh-TW] .centeralign { padding-left: 0; } }
@media only screen and (max-width: 735px) and (max-device-width: 768px) { html[lang=zh-TW] .centeralign { padding-left: 0; } }

/* center align all */
html[lang=zh-TW] .centerall { padding-left: 0.4em; }

/* center align medium  and small*/
@media only screen and (max-width: 1068px) { html[lang=zh-TW] .centerms { padding-left: 0.4em; } }
@media only screen and (max-width: 735px) { html[lang=zh-TW] .centerms { padding-left: 0.4em; } }

/* center align ,xs is different*/
html[lang=zh-TW] .centerexs { padding-left: 0.3em; }
@media only screen and (max-width: 320px){ html[lang=zh-TW] .centerexs { padding-left: 0.15em; }}

/* center align , large and medium  0.4em , small 0.3*/
html[lang=zh-TW] .centerall_43 { padding-left: 0.4em; }
@media only screen and (max-width: 735px) { html[lang=zh-TW] .centerall_43 { padding-left: 0.3em; } }
@media only screen and (max-width: 735px) and (max-device-width: 768px) { html[lang=zh-TW] .centerall_43 { padding-left: 0.3em;  } }

/* center align , small 0.6*/

@media only screen and (max-width: 735px) { html[lang=zh-TW] .centers_6 { padding-left: 0.6em; }}
@media only screen and (max-width: 735px) and (max-device-width: 768px) { html[lang=zh-TW] html[lang=zh-TW] .centers_6 { padding-left: 0.6em; }}

/* center align , small 0.4*/

@media only screen and (max-width: 735px) { html[lang=zh-TW] .center_s4 { padding-left: 0.3em; }}
@media only screen and (max-width: 735px) and (max-device-width: 768px) { html[lang=zh-TW] html[lang=zh-TW] .center_s4 { padding-left: 0.3em; }}



/* --center align end--*/


html[lang=zh-TW] span.badge-half.seven{ margin-left:-0.1em; }

/* center align for bigger font-size large and medium  0.6em */
html[lang=zh-TW] .centeralign_06 { padding-left: 0.6em; }
@media only screen and (max-width: 735px) { html[lang=zh-TW] .centeralign_06 { padding-left: 0; } }
@media only screen and (max-width: 735px) and (max-device-width: 768px) { html[lang=zh-TW] .centeralign_06 { padding-left: 0; } }


/* center align for all font-size large 0.5em */
html[lang=zh-TW] .centerall_05 { padding-left: 0.5em; }
@media only screen and (max-width: 735px) { html[lang=zh-TW] .centerall_05 { padding-left: 0.4em; } }
@media only screen and (max-width: 735px) and (max-device-width: 768px) { html[lang=zh-TW] .centerall_05 { padding-left: 0.4em; } }

/* center align for all font-size large and medium small  0.6em */
html[lang=zh-TW] .centerall_06 { padding-left: 0.6em; }
@media only screen and (max-width: 735px) { html[lang=zh-TW] .centerall_06 { padding-left: 0.4em; } }
@media only screen and (max-width: 735px) and (max-device-width: 768px) { html[lang=zh-TW] .centerall_06 { padding-left: 0.4em; } }




/* <br> 在不同 viewport 的 换行 Show & Hide */
@media only screen and (max-width: 735px) {html[lang=zh-TW] br.hide-for-small {display: none}}

@media only screen and (max-width: 1024px) {html[lang=zh-TW] br.hide-for-medium {display: none}}

html[lang=zh-TW] br.hide-for-large {display: none}
@media only screen and (max-width: 1024px) {html[lang=zh-TW] br.hide-for-large {display: block}}


@media only screen and (max-width: 735px) {html[lang=zh-TW] br.show-for-small {display: block}}

@media only screen and (max-width: 320px) {html[lang=zh-TW] br.hide-for-xsmall {display: none}}

@media only screen and (max-width: 1024px) {html[lang=zh-TW] br.show-for-medium {display: block}}

html[lang=zh-TW] br.show-for-large {display: block}


html[lang=zh-TW] br.show-only-for-small {display: none}
@media only screen and (max-width: 735px) {html[lang=zh-TW] br.show-only-for-small {display: block}}

html[lang=zh-TW] br.show-only-for-medium {display: none}
@media only screen and (max-width: 1024px) {html[lang=zh-TW] br.show-only-for-medium {display: block}}
@media only screen and (max-width: 1068px) {html[lang=zh-TW] br.show-only-for-medium {display: block}}
@media only screen and (max-width: 735px) {html[lang=zh-TW] br.show-only-for-medium {display: none}}

html[lang=zh-TW] br.show-only-for-large {display: block}
@media only screen and (max-width: 1024px) {html[lang=zh-TW] br.show-only-for-large {display: none}}
@media only screen and (max-width: 1068px) {html[lang=zh-TW] br.show-only-for-large {display: none}}
@media only screen and (max-width: 735px) {html[lang=zh-TW] br.show-only-for-large {display: none}}

br.show-only-for-xsmall {display: none}
@media only screen and (max-width: 320px) and (max-device-width: 375px) {html[lang=zh-TW] br.show-only-for-xsmall {display: block}}


html[lang=zh-TW] br.small-hide {display: none}
html[lang=zh-TW] br.small-show {display: block}

@media only screen and (min-width: 736px) {
html[lang=zh-TW] br.medium-hide {display: none}
html[lang=zh-TW] br.medium-show {display: block}}

@media only screen and (min-width: 1069px) {
html[lang=zh-TW] br.large-hide {display: none}
html[lang=zh-TW] br.large-show {display: block}}

@media only screen and (min-width: 1442px) {
html[lang=zh-TW] br.xlarge-hide {display: none}
html[lang=zh-TW] br.xlarge-show {display: block}}


/* <br> 在不同 viewport 的 换行 Show & Hide End*/

