/* ==========================================================================
   Pages
========================================================================== */
.components-wrapper--what-if {
  background: #354973; }
  @media only screen and (max-width: 735px) {
    .components-wrapper--what-if {
      margin-top: 1rem;
      padding-bottom: 3rem; } }

.components-wrapper--share {
  background: #fff; }

.components-wrapper--world-best {
  background: #3b6c59; }

@media only screen and (max-width: 735px) {
  .components-wrapper--world-best .component.component--swap-sm-less-1 .image-grid {
    padding-top: 0; } }

@media only screen and (max-width: 735px) {
  .components-wrapper--world-best .image-grid {
    padding-bottom: 3rem; } }

.components-wrapper--share {
  padding-bottom: 1rem; }
  @media only screen and (max-width: 479px) {
    .components-wrapper--share {
      margin-top: 1rem; } }

.components-wrapper--share .text-rail__rail--top-icon img {
  display: block;
  height: 20rem;
  margin: 0 auto;
  max-width: none;
  width: auto; }

.components-wrapper--share .text-rail__rail--top-icon p {
  color: #333333;
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 1.47; }
  @media only screen and (max-width: 1068px) {
    .components-wrapper--share .text-rail__rail--top-icon p {
      max-width: 80%;
      margin: auto;
      text-align: center; } }
  @media only screen and (min-width: 736px) {
    .components-wrapper--share .text-rail__rail--top-icon p {
      font-size: 17px;
      font-size: 1.7rem; } }

.components-wrapper--share .text-rail__rail--top-icon p > span {
  display: block;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 40px;
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 1.5rem;
  margin-top: -1em; }
  @media only screen and (max-width: 1068px) {
    .components-wrapper--share .text-rail__rail--top-icon p > span {
      font-size: 31px;
      font-size: 3.1rem;
      margin-bottom: 1rem; } }

.components-wrapper--share .text-rail__rail--top-icon p > span > span {
  position: relative;
  top: -0.1em;
  margin-left: 3px; }

.components-wrapper--bottom-image .component {
  position: relative;
  z-index: 2; }
  .components-wrapper--bottom-image .component:last-child {
    z-index: 1; }

.components-wrapper--share .image-grid img {
  margin-top: -10%; }
  @media only screen and (max-width: 479px) {
    .components-wrapper--share .image-grid img {
      margin-top: -80%; } }

.components-wrapper--discover .text-rail__rail--top-icon img {
  display: block;
  width: 100%;
  max-width: none;
  padding-bottom: 1rem; }
  @media only screen and (max-width: 1068px) {
    .components-wrapper--discover .text-rail__rail--top-icon img {
      margin: auto;
      height: 20rem; } }

.components-wrapper--discover .text-rail__rail--top-icon p {
  color: #333333;
  line-height: 1.3; }
  @media only screen and (max-width: 1068px) {
    .components-wrapper--discover .text-rail__rail--top-icon p {
      margin: auto;
      text-align: center;
      font-size: 19px;
      font-size: 1.9rem; } }

.components-wrapper--discover .text-rail__rail--top-icon h3 {
  color: #333333;
  font-size: 17px;
  font-size: 1.7rem;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  margin-bottom: 1rem; }
  @media only screen and (max-width: 1068px) {
    .components-wrapper--discover .text-rail__rail--top-icon h3 {
      font-size: 31px;
      font-size: 3.1rem;
      margin-bottom: 2rem; } }

.components-wrapper--discover .image-grid img {
  margin-top: -20%; }
  @media only screen and (max-width: 735px) {
    .components-wrapper--discover .image-grid img {
      margin-top: -45%; } }

@media only screen and (min-width: 736px) {
  .text-row--about-heading {
    margin-bottom: 2rem;
    padding-bottom: 0; } }

@media only screen and (min-width: 736px) {
  .text-row--about-lead-p {
    padding-top: 0; } }

.components-wrapper--world-map {
  background: #F8F8F8; }
  @media only screen and (max-width: 735px) {
    .components-wrapper--world-map {
      background: -webkit-linear-gradient(top, #f9f9f9 0%, #f2f2f2 100%);
      background: linear-gradient(to bottom, #f9f9f9 0%, #f2f2f2 100%); } }

@media only screen and (max-width: 735px) {
  .components-wrapper--world-map .text-row__subtitle {
    display: none; } }

.component--map {
  max-width: 1257px;
  margin: 0 auto;
  padding: 0 2.2rem; }
  @media only screen and (max-width: 735px) {
    .component--map {
      box-sizing: border-box;
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
          -ms-flex-order: 3;
              order: 3;
      overflow: hidden;
      padding-bottom: 8rem;
      position: relative;
      width: 100%; } }

.component--map__ie {
  display: none; }

@media only screen and (max-width: 735px) {
  .component--map h3 {
    border: 0;
    clip: auto;
    height: auto;
    margin: auto;
    overflow: visible;
    padding: 0;
    position: static;
    width: auto;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 400;
    padding-bottom: 4.5rem;
    text-align: center; } }

@media only screen and (min-width: 736px) {
  .component--map h3 {
    display: none; } }

@media only screen and (min-width: 736px) {
  .components-wrapper--world-map .text-row__title {
    font-size: 50px;
    font-size: 5rem; } }

.components-wrapper--world-map > .component:first-child .text-row {
  padding-bottom: 0;
  padding-top: 8rem; }
  @media only screen and (min-width: 736px) {
    .components-wrapper--world-map > .component:first-child .text-row {
      padding-top: 12rem;
      padding-bottom: 6rem; } }

@media only screen and (max-width: 735px) {
  .components-wrapper--world-map > .component:last-child .text-row p {
    font-size: 19px;
    font-size: 1.9rem; } }

@media only screen and (min-width: 736px) {
  .component--map-description {
    padding-bottom: 5rem; } }

@media only screen and (min-width: 736px) {
  .component--map-description .text-row {
    padding-top: 3rem;
    padding-bottom: 6rem; } }

@media only screen and (min-width: 736px) {
  .component--map-description .text-row__content--text-weight p {
    font-size: 17px;
    font-size: 1.7rem;
    line-height: 1.53; } }

.components-wrapper--about-campus {
  overflow: hidden; }

.components-wrapper--about-campus .hero img {
  margin-top: -25%; }
  @media only screen and (max-width: 735px) {
    .components-wrapper--about-campus .hero img {
      margin-top: -150%; } }

/* Map Animation */
@-webkit-keyframes map-pulse {
  from {
    opacity: 0.3;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0); }
  to {
    opacity: .8;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }
@keyframes map-pulse {
  from {
    opacity: 0.3;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0); }
  to {
    opacity: .8;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes slide-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slide-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.components-wrapper--world-map svg .st52,
.components-wrapper--world-map svg .st54,
.components-wrapper--world-map svg .st50,
.components-wrapper--world-map svg .st40,
.components-wrapper--world-map svg .st56,
.components-wrapper--world-map svg .st43 {
  -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
          transform: scale(0, 0);
  transform-box: fill-box;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center; }

.component--map svg {
  width: 100%; }

.component--map .st53,
.component--map .st55,
.component--map .st51,
.component--map .st42,
.component--map .st57,
.component--map .st44 {
  opacity: 0; }

.component--map .st39 {
  opacity: 0; }

.component--map.engaged .st52 {
  -webkit-animation-name: map-pulse;
          animation-name: map-pulse;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; }

.component--map.engaged .st53 {
  -webkit-animation: fade-in 1.5s 1 forwards;
          animation: fade-in 1.5s 1 forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s; }

.component--map.engaged .st54 {
  -webkit-animation-name: map-pulse;
          animation-name: map-pulse;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; }

.component--map.engaged .st55 {
  -webkit-animation: fade-in 1.5s 1 forwards;
          animation: fade-in 1.5s 1 forwards;
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s; }

.component--map.engaged .st50 {
  -webkit-animation-name: map-pulse;
          animation-name: map-pulse;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; }

.component--map.engaged .st51 {
  -webkit-animation: fade-in 1.5s 1 forwards;
          animation: fade-in 1.5s 1 forwards;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s; }

.component--map.engaged .st40 {
  -webkit-animation-name: map-pulse;
          animation-name: map-pulse;
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; }

.component--map.engaged .st42 {
  -webkit-animation: fade-in 1.5s 1 forwards;
          animation: fade-in 1.5s 1 forwards;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s; }

.component--map.engaged .st56 {
  -webkit-animation-name: map-pulse;
          animation-name: map-pulse;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; }

.component--map.engaged .st57 {
  -webkit-animation: fade-in 1.5s 1 forwards;
          animation: fade-in 1.5s 1 forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.component--map.engaged .st43 {
  -webkit-animation-name: map-pulse;
          animation-name: map-pulse;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; }

.component--map.engaged .st44,
.component--map.engaged .st39 {
  -webkit-animation: fade-in 1.5s 1 forwards;
          animation: fade-in 1.5s 1 forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s; }

@media only screen and (max-width: 479px) {
  .component--map.engaged .st39 {
    display: none; } }

@media only screen and (max-width: 479px) {
  .component--map__regular {
    display: none; } }

@media only screen and (min-width: 480px) {
  .component--map__mobile {
    display: none; } }

.component--map__mobile svg {
  position: absolute;
  margin: auto;
  width: 200%;
  left: -30%;
  top: 10.5rem; }

.component--map__mobile__locations {
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem; }

.component--map__mobile__location {
  margin-bottom: 2rem; }

.component--map__mobile__location__count {
  color: #fff;
  display: block;
  background: #A6B5D6;
  background: rgba(159, 176, 203, 0.65);
  border-radius: 50%;
  font-size: 34px;
  font-size: 3.4rem;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  height: 11rem;
  line-height: 11.5rem;
  margin: 0 auto 1rem;
  width: 11rem; }

.component--map__mobile__location__count span {
  display: block; }

.component--map__mobile__location--eu .component--map__mobile__location__count {
  background-color: #8EB5CD;
  background-color: rgba(147, 184, 210, 0.76); }

.component--map__mobile__location--as .component--map__mobile__location__count {
  background-color: #86CBAD;
  background-color: rgba(146, 185, 175, 0.59); }

.component--map__mobile__location--sa .component--map__mobile__location__count {
  background-color: #C4BCD5;
  background-color: rgba(180, 180, 204, 0.65); }

.component--map__mobile__location--au .component--map__mobile__location__count {
  background-color: #85B5D9;
  background-color: rgba(159, 204, 200, 0.7); }

.component--map__mobile__location--af .component--map__mobile__location__count {
  background-color: #85C6BF;
  background-color: rgba(158, 185, 185, 0.6); }

.main--apple-care .hero--overlap-text-image .hero__text {
  z-index: 1; }
  @media only screen and (max-width: 735px) {
    .main--apple-care .hero--overlap-text-image .hero__text {
      padding-bottom: 35px; } }

@media only screen and (max-width: 735px) {
  .main--apple-care .hero--overlap-text-image .hero__text .text-row__link {
    color: #fff;
    margin-top: 90%; } }

@media only screen and (max-width: 735px) {
  .main--apple-care .hero--overlap-text-image .hero__text .text-row__link a {
    color: #fff; } }

@media only screen and (max-width: 735px) {
  .main--apple-care .hero--overlap-text-image .hero__image {
    bottom: 0;
    left: 0;
    margin-top: 0;
    position: absolute;
    right: 0;
    z-index: 0; } }

@media only screen and (max-width: 735px) {
  .main--apple-care .components-wrapper--grow {
    background: #e0e4eb;
    margin-top: 15px;
    padding-bottom: 10px; } }

@media only screen and (min-width: 1200px) {
  .main--apple-care .components-wrapper--grow .text-rail__text.large-3 {
    padding-right: 35px; } }

@media only screen and (max-width: 735px) {
  .main--apple-care .component-wrapper--leaders {
    background: #e0e4eb;
    margin-bottom: 15px; } }

.main--apple-care .components-wrapper--benefits {
  overflow: hidden;
  position: relative; }

@media only screen and (min-width: 360px) {
  .main--apple-care .components--benefits__image img {
    margin-top: -25vw; } }

@media only screen and (min-width: 410px) {
  .main--apple-care .components--benefits__image img {
    margin-top: -35vw; } }

@media only screen and (min-width: 480px) {
  .main--apple-care .components--benefits__image img {
    margin-top: 0; } }

@media only screen and (min-width: 530px) {
  .main--apple-care .components--benefits__image img {
    margin-top: -25vw; } }

@media only screen and (min-width: 736px) {
  .main--apple-care .components--benefits__image img {
    margin-top: 0; } }

@media only screen and (min-width: 1000px) {
  .main--apple-care .components--benefits__image img {
    margin-top: -15vw; } }

@media only screen and (min-width: 1069px) {
  .main--apple-care .components--benefits__image img {
    margin-top: 0; } }

.main--apple-care .components-wrapper--benefits .components-wrapper--benefits__content {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

@media only screen and (min-width: 1069px) {
  .main--apple-care .components-wrapper--benefits .text-rail__rail--lg-text {
    margin-right: -2%;
    width: 27%; } }

.main--apple-care .components-wrapper--benefits .text-row__content ul {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  margin-left: 1.5rem; }
  @media only screen and (min-width: 480px) {
    .main--apple-care .components-wrapper--benefits .text-row__content ul {
      padding-right: 100px; } }
  @media only screen and (min-width: 736px) {
    .main--apple-care .components-wrapper--benefits .text-row__content ul {
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2;
      -webkit-column-gap: 100px;
         -moz-column-gap: 100px;
              column-gap: 100px;
      font-size: 17px;
      font-size: 1.7rem;
      font-weight: 400;
      margin: 0 0 0 2rem;
      padding: 0; } }
  .main--apple-care .components-wrapper--benefits .text-row__content ul li {
    margin-bottom: 0.5rem; }
    @media only screen and (min-width: 736px) {
      .main--apple-care .components-wrapper--benefits .text-row__content ul li {
        margin-bottom: 1.2rem; } }
    @media only screen and (max-width: 479px) {
      .main--apple-care .components-wrapper--benefits .text-row__content ul li:nth-of-type(3) ~ li {
        padding-right: 50px; } }
    @media only screen and (max-width: 320px) {
      .main--apple-care .components-wrapper--benefits .text-row__content ul li:nth-of-type(3) ~ li {
        padding-right: 30px; } }

@media only screen and (min-width: 736px) {
  .main--apple-care .components-wrapper--opportunities {
    background: #f9fafb;
    margin-bottom: 80px; } }

.main--apple-care .components-wrapper--opportunities .text-rail__text__list h2.text-rail__text__list__inverse-margin {
  letter-spacing: -0.01em; }

@media only screen and (max-width: 735px) {
  .main--apple-care .components-wrapper--opportunities .text-rail__text + .text-rail__text {
    margin-top: 40px; } }

@media only screen and (max-width: 735px) {
  .main--apple-care .components-wrapper--tiles .tiles__tile__text > span:first-child {
    font-weight: 700; } }

@media only screen and (max-width: 735px) {
  .main--apple-care .components-wrapper--tiles .tiles__tile__text > span + span,
  .main--apple-care .components-wrapper--tiles .tiles__tile__text > span:first-child:last-child {
    font-size: 28px;
    font-size: 2.8rem;
    font-weight: 600; } }

.main--divider .site-width--example {
  margin-bottom: 4rem; }

.main--divider pre {
  margin-top: 4rem; }

.main--gallery .site-width--example {
  margin-bottom: 4rem; }

.main--gallery pre {
  margin-top: 4rem; }

@media only screen and (min-width: 736px) {
  .main--home .text-row--homepage-first {
    padding-top: 6rem; } }

@media only screen and (min-width: 736px) {
  .main--home .text-row--homepage-first .text-row__title {
    margin: 0 auto;
    max-width: 650px;
    max-width: 65rem; } }

@media only screen and (min-width: 736px) {
  .main--home .text-row--homepage-internal-first .text-row__title {
    margin: 0 auto;
    max-width: 630px;
    max-width: 63rem; } }

@media only screen and (min-width: 736px) {
  .main--home .text-row--homepage-last {
    padding-bottom: 6rem; } }

.main--home .gallery--slideshow {
  margin-bottom: 3rem; }
  @media only screen and (min-width: 736px) {
    .main--home .gallery--slideshow {
      margin-bottom: 5rem; } }

.main--toc .site-width--example {
  margin-bottom: 5rem; }

.main--toc .site-width--example h2 {
  margin-bottom: 3rem; }

.main--toc ul {
  margin: 0 0 60px;
  padding: 0 0 0 2rem; }
  .main--toc ul ul {
    margin-bottom: 1em; }

.main--modal .site-width--example {
  margin-bottom: 4rem; }

.main--modal .eg--modal {
  padding-bottom: 2rem; }

.main--search .site-width--example {
  margin-bottom: 4rem; }

.main--search pre {
  margin-top: 4rem; }

.main--pre-footer .site-width--example {
  margin-bottom: 4rem; }

.main--pre-footer pre {
  margin-top: 4rem; }

@media only screen and (max-width: 735px) {
  .pre-footer--mobile-bk {
    background: #7aa4aa; } }

.main--tiles .site-width--example {
  margin-bottom: 4rem; }

.main--tiles pre {
  margin-top: 4rem; }

.main--video-players .site-width--example {
  margin-bottom: 4rem; }

.main--video-players pre {
  margin-top: 4rem; }

.main--image-grids .site-width--example {
  margin-bottom: 4rem; }

.main--image-grids pre {
  margin-top: 4rem; }

.main--hero pre {
  margin-top: 4rem; }

.main--rts .component--hero .text-row--xlg {
  padding-left: 2.2rem;
  padding-right: 2.2rem; }
  @media only screen and (min-width: 1200px) {
    .main--rts .component--hero .text-row--xlg {
      font-size: 18px;
      font-size: 1.8rem;
      max-width: 980px;
      max-width: 54.44444em;
      padding-left: 0;
      padding-right: 0; } }

.main--rts .component-wrapper--human .component--image img {
  margin-top: -20%;
  width: 100%; }
  @media only screen and (min-width: 736px) {
    .main--rts .component-wrapper--human .component--image img {
      margin-top: -25%; } }

@media only screen and (min-width: 736px) {
  .main--rts .component--video-jeronimo .video-player--hero--text--top-right .video-content__text {
    top: 10%; } }

@media only screen and (min-width: 736px) {
  .main--rts .component--video-melissa .video-player--hero--text--top-right .video-content__text {
    top: 20%; } }

.main--text-rail .site-width--example {
  margin-bottom: 4rem; }

.main--text-rail pre {
  margin-top: 4rem; }

.text-rail__rail__icons__icon--teams svg,
.text-rail__rail__icons__icon--depts svg,
.text-rail__rail__icons__icon--people svg {
  height: 44px;
  max-width: none;
  width: auto; }
  @media only screen and (min-width: 736px) {
    .text-rail__rail__icons__icon--teams svg,
    .text-rail__rail__icons__icon--depts svg,
    .text-rail__rail__icons__icon--people svg {
      height: 68px; } }

.text-rail__rail__icons__icon--teams svg g,
.text-rail__rail__icons__icon--depts svg g,
.text-rail__rail__icons__icon--people svg g,
.text-rail__rail__icons__icon--touch-id svg g {
  stroke: none; }

.text-rail__rail__icons__icon--teams svg path,
.text-rail__rail__icons__icon--depts svg path,
.text-rail__rail__icons__icon--people svg path {
  stroke: #999999; }

.text-rail__rail__icons__icon--touch-id svg path {
  stroke: #F8A5B6;
  stroke-width: 15; }

.text-rail__rail__icons__icon--touch-id svg {
  max-width: 40px; }
  @media only screen and (min-width: 736px) {
    .text-rail__rail__icons__icon--touch-id svg {
      max-width: 70px; } }

.text-rail__rail__icons__icon--fit svg {
  max-width: 52px; }
  @media only screen and (min-width: 736px) {
    .text-rail__rail__icons__icon--fit svg {
      max-width: 64px; } }

.text-rail__rail__icons__icon--healthy svg {
  max-width: 92px; }
  @media only screen and (min-width: 736px) {
    .text-rail__rail__icons__icon--healthy svg {
      margin-bottom: .5rem;
      max-width: 106px; } }
  @media only screen and (min-width: 1069px) {
    .text-rail__rail__icons__icon--healthy svg {
      margin-bottom: 1rem; } }

.text-rail__rail__icons__icon--stock svg {
  max-width: 54px; }
  @media only screen and (min-width: 736px) {
    .text-rail__rail__icons__icon--stock svg {
      max-width: 64px; } }

.text-rail__rail__icons__icon--contribute svg {
  max-width: 55px; }
  @media only screen and (min-width: 736px) {
    .text-rail__rail__icons__icon--contribute svg {
      max-width: 68px; } }

.main--teams-corporate-services .components-wrapper--corporate-services {
  background: #30404d; }

.main--teams-customer-service .components-wrapper--customer-service {
  background: #eaebed; }

@media only screen and (min-width: 736px) {
  .main--teams-hardware .text-row--lead.text-row--lead--heading-only {
    max-width: 800px;
    max-width: 80rem; } }

.components-wrapper--hardware-gallery {
  background: #d5d4d8; }

@media only screen and (min-width: 736px) {
  .component--locations-categories .text-rail {
    padding: 6rem 0 7rem; } }

@media only screen and (min-width: 1069px) {
  .component--locations-categories .text-rail {
    padding: 8rem 0 9rem; } }

.components-wrapper--marketing-gallery {
  background: #1d1d36; }

.components-wrapper--software-gallery {
  background: #f6f6f6; }

@media only screen and (max-width: 320px) {
  .component--students-lead {
    margin: 0 1rem; } }

.components-wrapper--students-grid-text-rail {
  background: #d7dfe5; }

.components-wrapper--students-grid-text-rail .text-rail__rail--lg-text blockquote .quote {
  color: #000000; }

.component--student-information .text-rail {
  padding-bottom: 0; }

@media only screen and (max-width: 320px) {
  .component--retail-lead {
    margin: 0 1rem; } }

.components-wrapper--retail-gallery {
  background: #E5E3E8; }

.components-wrapper--retail-gallery .text-rail--title {
  padding-top: 0.25rem; }
  @media only screen and (min-width: 736px) {
    .components-wrapper--retail-gallery .text-rail--title {
      padding-top: 1rem; } }

.components-wrapper--retail-gallery--sales .text-rail--title,
.components-wrapper--retail-gallery--support .text-rail--title,
.components-wrapper--retail-gallery--leadership .text-rail--title {
  padding-bottom: 0.5rem; }
  @media only screen and (min-width: 1069px) {
    .components-wrapper--retail-gallery--sales .text-rail--title,
    .components-wrapper--retail-gallery--support .text-rail--title,
    .components-wrapper--retail-gallery--leadership .text-rail--title {
      padding-bottom: .5rem; } }

.components-wrapper--retail-gallery--sales,
.component--retail-card--sales,
.component--retail-card--sales .card-content,
.component--retail-card--sales .card-content__mask,
.component--retail-card--sales .card-padding {
  background: #6a86ab; }

.component--retail-card--sales.reverse .card .button-section button span {
  color: #6a86ab !important; }

.components-wrapper--retail-gallery--support,
.component--retail-card--support,
.component--retail-card--support .card-content,
.component--retail-card--support .card-content__mask,
.component--retail-card--support .card-padding {
  background: #e1e4e9; }

.components-wrapper--retail-gallery--leadership,
.component--retail-card--leadership,
.component--retail-card--leadership .card-content,
.component--retail-card--leadership .card-content__mask,
.component--retail-card--leadership .card-padding {
  background: #2e2e50; }

.component--retail-card--leadership.reverse .card .button-section button span {
  color: #2e2e50 !important; }

@media only screen and (min-width: 736px) {
  .component--locations-categories .text-rail {
    padding: 6rem 0 7rem; } }

@media only screen and (min-width: 1069px) {
  .component--locations-categories .text-rail {
    padding: 8rem 0 9rem; } }

/* Cards */
.component--retail-card {
  padding-bottom: 2rem; }
  @media only screen and (min-width: 736px) {
    .component--retail-card {
      padding-bottom: 5rem; } }

.component--retail-card .text-rail {
  padding-top: 0; }

.component--retail-card--support .card .button-label p,
.component--retail-card--support .card .button-label:hover p {
  color: #333333; }

.component--retail-card--support .card .button-section button .hero {
  background: #333333; }

.component--retail-card--support .card .button-section button .open {
  background: rgba(51, 51, 51, 0.8); }

.component--retail-content--sales .card-content__mask,
.component--retail-content--sales .text-rail__rail--lg-text > p,
.component--retail-content--sales .card-content {
  color: #fff;
  background: #6a86ab; }

.component--retail-content--support .card-content__mask,
.component--retail-content--support .text-rail__rail--lg-text > p,
.component--retail-content--support .card-content {
  background: #e1e4e9; }

.theme-light .component--retail-content--support .card-content__mask,
.theme-light .component--retail-content--support .text-rail__rail--lg-text > p,
.theme-light .component--retail-content--support .card-content { 
  color: #000000; }
.theme-light .component--retail-content--support .card.card--profile-card .button-section button .open {
  color: #000000; }
  
.component--retail-content--leadership .card-content__mask,
.component--retail-content--leadership .text-rail__rail--lg-text > p,
.component--retail-content--leadership .card-content {
  color: #fff;
  background: #2e2e50; }

.component--retail-quote .text-row {
  padding-bottom: 5.5rem;
  padding-top: 0; }
  @media only screen and (min-width: 736px) {
    .component--retail-quote .text-row {
      padding-bottom: 10rem; } }

.component--retail-quote .quote {
  color: #192c56; }

.component--retail-text-list .text-rail {
  padding: 7rem 0 7rem; }
  @media only screen and (min-width: 736px) {
    .component--retail-text-list .text-rail {
      padding: 9rem 0 10rem; } }

.components-wrapper--sales-gallery {
  background: #505969; }

.main--teams-no-hero .text-row--tnh-heading {
  margin-bottom: -.5rem;
  padding-bottom: 0; }
  @media only screen and (min-width: 736px) {
    .main--teams-no-hero .text-row--tnh-heading {
      margin-bottom: 2rem; } }

.components-wrapper--operations-gallery {
  background: #e5eae9; }

.components-wrapper--design-gallery {
  background: #3a4975; }

.theme-dark .components-wrapper--bottom-image .text-row--lead h1, 
.theme-dark .components-wrapper--bottom-image .text-row__title, 
.theme-dark .components-wrapper--bottom-image .text-row {
	color: #333333; }

.theme-dark .components-wrapper--bottom-image.components-wrapper--share,
.theme-dark .components-wrapper--bottom-image.components-wrapper--discover  {
	background: #ffffff; }

.theme-light .main--teams-software .text-rail.row,
.theme-light .main--teams-operations .text-rail.row,
.theme-light .main--teams-customer-service .text-rail.row,
.theme-light .main--students .text-rail.row {
	color: #000000; }

.theme-light .main--teams-software .text-rail__rail--lg-text > p,
.theme-light .main--teams-operations .text-rail__rail--lg-text > p,
.theme-light .main--teams-customer-service .text-rail__rail--lg-text > p,
.theme-light .main--students .text-rail__rail--lg-text > p {
	color: #000000; }
	
.theme-light .main--teams-software .card.card--profile-card .button-section button .open,
.theme-light .main--teams-operations .card.card--profile-card .button-section button .open {
  color: #000000; }

@media only screen and (min-width: 736px) {
	.theme-dark .components-wrapper--marketing-gallery .text-row__content > p,
	.theme-dark .components-wrapper--design-gallery .text-row__content > p,
	.theme-dark .components-wrapper--share .text-row__content > p,
	.theme-dark .components-wrapper--world-best .text-row__content > p,
	.theme-dark .components-wrapper--discover .text-row__content > p,
	.theme-dark .components-wrapper--site-width-gutter .text-row__content > p,
	.theme-dark .components-wrapper--grow .text-row__content > p,
	.theme-dark .components-wrapper--benefits .text-row__content > p,
	.theme-dark .component-wrapper--human .text-row__content > p {
		font-size: 28px;
		font-size: 2.8rem; } }
		
@media only screen and (min-width: 736px) {
	.theme-dark .main--apple-care .components-wrapper--benefits .text-row__content ul {
		font-size: 19px;
		font-size: 1.9rem;
		font-weight: 500; } }
		
.theme-dark .main--apple-care .components-wrapper--opportunities {
	background: #000000; }

@media only screen and (max-width: 735px) {
	.theme-dark .main--apple-care .components-wrapper--grow {
		background: #000000; } }

.theme-dark .component-wrapper--human {
	background: #ffffff; }

.theme-dark .component-wrapper--human .text-rail__text--updated .text-row__content p,
.theme-dark .component-wrapper--human .text-row__title {
	color: #333333; }

.theme-dark .main--apple-care .text-row--lead h1,
.theme-dark .main--apple-care .text-row {
	color: #333333; }

.theme-dark .main--apple-care .hero--full-width {
	background: #ffffff; }

.theme-dark .components-wrapper--benefits__content .text-row__title {
	color: #333333; }
		
/* inspiration.html */
.theme-dark .main--passions .hero--overlap-text-image .text-row--lead h1,
.theme-dark .main--passions .text-row {
	color: #000000; }	

.theme-dark .components-wrapper--benefits__content .text-rail__text--updated .text-row__content p,
.theme-dark .components-wrapper--benefits__content .text-rail__text--updated .text-row__content li {
	color: #333333; }

.theme-dark .components-wrapper--opportunities .text-rail__text__list--bold-title h2 {
	color: #ffffff; }

.theme-dark .main--rts h1.text-row__title {
	color: #ffffff; }	

/* careers.html */
.theme-careers .localnav-background::after {
	background: #c1aea4; }

.main--careers-home .page-search {
	margin: 4rem 0 8rem; }

.main--careers-home .form-auto-suggest .page-search__input.auto-suggest-input {
	font-size: 22px;
	font-size: 2.2rem;
	font-weight: 400; }

@media only screen and (min-width: 736px) {
	.main--careers-home .text-row.text-row--xlg .text-row__title {
		font-size: 60px;
		font-size: 6.0rem;
		padding-left: 70px;
		padding-right: 70px; } } 

@media only screen and (min-width: 736px) {
	.main--careers-home .text-row.text-row--xlg {
		max-width: 900px;
		max-width: 90rem; } }

@media only screen and (min-width: 736px) {
	.main--careers-home .text-row.text-row--xlg .text-row__title.sub-hero__title {
		font-size: 28px;
		font-size: 2.8rem; }
	.main--careers-home .text-row.text-row--xlg .text-row__title.sub-hero__sub-title {
		font-size: 48px;
		font-size: 4.8rem; } }
				
@media only screen and (min-width: 736px) {
	.main--careers-home .text-row.text-row--xlg .text-row__content > p,
	.main--careers-home .text-row.text-row--xlg .text-row__content .text-row__link a {
		font-size: 26px;
		font-size: 2.6rem;
		font-weight: 500;
		line-height: 1.4; } }

.main--careers-home .text-row.text-row--xlg .text-row__content > p {
	font-weight: 500; }

.main--careers-home .icon::after {
	font-weight: 600; }

@media only screen and (min-width: 736px) {
	.main--careers-home .text-row.text-row--xlg .text-row__title {
		margin-bottom: 1rem; } }

@media only screen and (min-width: 736px) {
	.main--careers-home .text-row.text-row--xlg .text-row__content .text-row__link {
		margin-top: 0; } }

.main--careers-home .hero--overlap-text-image.hero--sub-hero {
	margin-top: 15px; } 

@media only screen and (max-width: 735px) {
    .main--careers-home .hero--overlap-text-image .text-row {
        padding: 6rem 0 6rem; } }

@media only screen and (max-width: 735px) {
    .main--careers-home .hero--overlap-text-image.hero--sub-hero .text-row {
        padding: 3rem 0 6rem; } }

@media only screen and (min-width: 736px) {
	.main--careers-home .text-row--lead .text-row__title {
		font-size: 42px;
		font-size: 4.2rem;
		font-weight: 500;  } }

.main--careers-home .text-row__content > p,
.main--careers-home .text-row__link a  {
	font-weight: 500; }

@media only screen and (min-width: 736px) {
	.main--careers-home .text-row__content > p,
	.main--careers-home .text-row__link a {
		font-size: 26px;
		font-size: 2.6rem; } }

@media only screen and (min-width: 736px) {
	.main--careers-home .text-row.text-row--heading-and-paragraph-extra-padding .text-row__title {
		margin-bottom: 0; } }
		
.main--careers-home .text-row--lead .text-row__title + .text-row__content {
	margin-top: 5px; }

@media only screen and (min-width: 736px) {
	.main--careers-home .text-row.text-row--heading-and-paragraph-extra-padding {
		padding: 6rem 0 5.5rem; } }

.theme-light .main--aha h1,
.theme-light .main--aha h2.large,
.theme-light .main--reasonable-accomodation h2 {
	font-weight: 700; }

.theme-light .main--teams-retail .text-rail__text__list h2 {
	font-weight: 700; }

.theme-light .components-wrapper--about-campus .text-row blockquote p.quote,
.theme-light .components-wrapper--about-campus .text-row blockquote .blockquote__footer__subcredit {
	font-weight: 500; }  

.theme-light .main--about .text-row__title {
	font-weight: 600; }                      
	                                                                                                                    